Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: debug mode fixes
  src/overrides.css
Due: none

fix: thread card polish
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/ThreadsApp/ThreadCard.tsx
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/overrides.css
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: refactored discussion to an island for astro prop comp
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/pages/threads/[threadKey]/index.astro
Due: check

fix: small ux polish for sites
  src/components/client/PageApp/PageArticleFooter.tsx
  src/components/client/SitesApp/PageArticle.tsx
  src/components/client/SitesApp/SiteMembersApp/AddSiteMemberForm.tsx
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
  src/overrides.css
Due: check, test:unit

fix: mounting the subscriber as needed
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

fix: front-page polish
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/ThreadsApp/ThreadCard.tsx
  src/stores/FrontPage/topThreadsStrore.ts
Due: check, test:unit

feat: profile page added
  package.json
  src/components/client/ProfileApp/ProfileApp.tsx
  src/components/client/ProfileCard/ProfileCard.tsx
  src/pages/profiles/[uid].astro
  src/stores/profilesStore/index.ts
Due: check, test:unit

fix: debug sections hidden
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/pages/index.astro
Due: check

fix: anon use login link works
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: added web manifest and mobile viewport tags
  public/icons/fox-color.afdesign
  public/manifest.webmanifest
  src/components/server/BaseHead.astro
  src/locales/fi/index.ts
  src/overrides.css
Due: check, test:unit

fix: favicon variants for mobile phones
  public/favicons/favicon-256x256.png
  public/favicons/favicon-512x512.png
  public/favicons/favicon-64x64.png
  public/favicons/favicon-96x96.png
  public/favicons/fox-color.svg
Due: none

fix: added analytics
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: biome
  astro.config.mjs
Due: check

feat: ssr db in place
  package.json
  pnpm-lock.yaml
  src/firebase/server/ThisFolderIntentionallyEmpty.md
  src/firebase/server/index.ts
Due: check, test:unit

feat: ssr site list
  .gitignore
  src/components/client/FrontPage/SitesStream.tsx
  src/components/client/ThreadsApp/ThreadCard.tsx
  src/components/server/SiteList/SiteListColumn.astro
  src/components/server/SiteList/SiteListItem.astro
  src/firebase/server/index.ts
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/api/sites/index.ts
  src/pages/sites/index.astro
Due: check, test:unit

Update package.json
  package.json
Due: check

fix: manifest relative url
  src/components/server/BaseHead.astro
Due: none

fix: tray page menu added
  src/components/server/BaseHead.astro
  src/layouts/PageWithTray.astro
Due: none

fix: polish on forum front page
  public/icons/edit.svg
  src/overrides.css
  src/pages/threads/index.astro
Due: none

fix: updated cyan, prototype dialog reply
  package.json
  pnpm-lock.yaml
  src/components/client/SitesApp/SitesApp.tsx
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
  src/components/server/BaseTail.astro
Due: check

fix: biome
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
Due: check

fix: replyfomr refactor to replydialog
  package.json
  pnpm-lock.yaml
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/overrides.css
Due: check

fix: build hints
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
Due: check

fix: biome
  src/components/client/ThreadsApp/ReplyButton.tsx
Due: check

feat: replying happens via dialog
  package.json
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/locales/fi/entries.ts
Due: check, test:unit

chore: coc update
  src/content/fi/02-coc.md
Due: none

fix: thread deletion route restored
  package.json
  pnpm-lock.yaml
  public/icons/kebab.afdesign
  public/icons/kebab.svg
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/lit-shims.d.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/delete.astro
Due: check, test:unit

fix: restored thread deletion
  src/components/client/ThreadsApp/ConfirmReplyDeleteApp.tsx
  src/components/client/ThreadsApp/ReplyDropdown.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/overrides.css
  src/pages/threads/[threadKey]/replies/[replyKey]/delete.astro
  src/stores/ThreadsApp/deleteReply.ts
  src/stores/ThreadsApp/discussion.ts
Due: check, test:unit

fix: styles and branding updates
  package.json
  pnpm-lock.yaml
  src/components/server/AppFooter.astro
  src/layouts/Page.astro
  src/locales/fi/index.ts
  src/pages/404.astro
Due: check, test:unit

fix: small polish to site and page loading code
  package.json
  src/components/client/SitesApp/SitesApp.tsx
  src/components/client/sites/PageApp/PageApp.tsx
Due: check

fix: moved page loading to ssr
  package.json
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/PageArticleFooter.astro
  src/components/server/SiteApp/PageArticleHeader.astro
  src/pages/api/sites/[siteKey]/index.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/schemas/PageSchema.ts
  src/stores/SitesApp/pagesStore.ts
  tsconfig.json
Due: check, test:unit

fix: load site and page data ssr for page edit
  src/components/client/sites/PageApp/PageEditor.tsx
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
Due: check, test:unit

fix: sidebar, poster and toc polish
  src/components/client/sites/PageApp/PageSidebar.tsx
  src/components/server/SiteApp/PageApp.astro
  src/overrides.css
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/stores/SitesApp/recreatePageRefs.ts
Due: check, test:unit

fix: front page top sites to ssr
  src/components/client/FrontPage/SitesStream.tsx
  src/components/client/sites/SiteOwnerToken.tsx
  src/components/server/AppFooter.astro
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/server/ui/SiteCard.astro
  src/pages/api/sites/index.ts
  src/pages/index.astro
Due: check, test:unit

fix: cache control for frontpage, sites
  src/pages/api/sites/[siteKey]/index.ts
  src/pages/index.astro
Due: check, test:unit

fix: missing locale added
  src/locales/fi/index.ts
Due: check, test:unit

fix: thread creation legacy comp
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

fix: updated firebase
  package.json
  pnpm-lock.yaml
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

fix: thread forking ui for thread view
  .gitignore
  public/icons/fork.afdesign
  public/icons/fork.svg
  src/components/client/ThreadsApp/ReplyDropdown.tsx
  src/locales/fi/actions.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/fork.astro
  src/schemas/ReplySchema.ts
Due: check, test:unit

feat: thread and reply api's
  package.json
  src/pages/api/replies/[threadKey]/[replyKey].json.ts
  src/pages/api/threads/[threadKey].json.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/fork.astro
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
