Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: syndicated streams have links as expected
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
  src/overrides.css
  src/pages/index.astro
Due: none

chore: release
  package.json
Due: check

fix: added onboarding card
  src/components/client/FrontPage/OnboardingCard.tsx
  src/components/server/FrontPage/TopSitesStream.astro
  src/lit-shims.d.ts
  src/locales/fi/index.ts
  src/overrides.css
Due: check, test:unit

fix: biome
  src/components/client/FrontPage/OnboardingCard.tsx
  src/overrides.css
Due: check

chore: docs
  src/content/fi/80-release-notes.md
Due: none

fix: site branding visible in social shares
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
Due: none

fix: updated form controls for editor
  package.json
  pnpm-lock.yaml
Due: check

fix: added optimize tools
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: markdown externalized
  src/components/shared/MarkdownSection.tsx
  src/components/shared/MarkdownSnippetSection.tsx
Due: check

fix: markdown externalized
  src/components/shared/MarkdownSection.tsx
Due: check

fix: release pre-cyan subrepo
  package.json
  src/content/fi/80-release-notes.md
Due: check

fix: cleanup libs
  pnpm-lock.yaml
Due: none

fix: isolated add-page from store
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/firebase/client/site/addPage.ts
  src/firebase/client/site/addPageRef.ts
  src/stores/SitesApp/pagesStore.ts
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

fix: storage loaded dynamically
  package.json
  src/firebase/client/index.ts
  src/firebase/client/site/addAssetToSite.ts
  src/firebase/client/site/deleteSite.ts
  src/firebase/client/threads/addAssetToThread.ts
Due: check, test:unit

fix: site and page mobile and social share polish
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/server/SiteApp/PageApp.astro
  src/content/fi/80-release-notes.md
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
Due: check

feat: import multiple files ux draft
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/import/ImportFolder.tsx
  src/components/client/SiteApp/import/ImportForm.tsx
  src/components/client/SiteApp/import/ImportPreview.tsx
  src/components/client/SiteApp/toc/ImportExportTool.tsx
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/sites/[siteKey]/import-folder.astro
  src/pages/sites/[siteKey]/toc.astro
  src/stores/sessionStore/account.ts
  src/stores/sessionStore/profile.ts
Due: check, test:unit

feat: folder upload ux functional and tested
  src/components/client/SiteApp/import/ImportFolder.tsx
  src/components/client/SiteApp/import/ImportForm.tsx
  src/components/client/SiteApp/import/ImportPreview.tsx
  src/locales/fi/site.ts
Due: check, test:unit

fix: importing a folder functional
  src/components/client/SiteApp/import/ImportForm.tsx
  src/firebase/client/site/updateSite.ts
Due: check, test:unit

fix: polish to folder import and cache for own sites
  package.json
  src/components/client/library/SitesList.tsx
  src/content/fi/11-imports.md
  src/content/fi/80-release-notes.md
  src/overrides.css
  src/stores/sitesStore/userSitesCache.tsx
Due: check

fix: removed extra logging
  src/components/client/SiteApp/import/ImportForm.tsx
Due: check

fix: locales for import preview
  src/components/client/SiteApp/import/ImportPreview.tsx
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
Due: check, test:unit

fix: site create tested and fixed
  src/components/client/SiteApp/CreateSiteView.tsx
  src/content/fi/72-features.md
  src/firebase/client/site/addPage.ts
  src/firebase/client/site/createSite.ts
  src/utils/siteUtils.ts
Due: check, test:unit

fix: release info, tests and polish
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditorTopBar.tsx
  src/components/client/library/SitesList.tsx
  src/content/fi/72-features.md
  src/locales/fi/threads.ts
  src/stores/sitesStore/userSitesCache.tsx
Due: check, test:unit

fix: added svelte based forum front-page
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/import/ImportFolder.tsx
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/svelte/channels/ChannelInfoRow.svelte
  src/overrides.css
  src/pages/api/meta/channels.json.ts
  src/pages/channels/index.astro
  src/schemas/ChannelSchema.ts
  src/stores/sessionStore/index.ts
  svelte.config.js
  tsconfig.json
Due: check, test:unit

fix: svelte utils and polish
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/svelte/app/WithAuth.svelte
  src/pages/admin/index.astro
  src/stores/metaStore/metaStore.ts
Due: check, test:unit

fix: tray added for admin
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/app/WithAuth.svelte
  src/pages/admin/index.astro
Due: none

fix: moved forum admin funcs to svelte side
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/User.svelte
  src/components/svelte/admin/UserAdmin.svelte
  src/firebase/client/admin/getAllAccounts.ts
  src/pages/admin/users.astro
Due: check, test:unit

fix: user admin restored
  .github/copilot-instructions.md
  src/components/svelte/admin/User.svelte
  src/components/svelte/admin/UserAdmin.svelte
  src/components/svelte/app/ProfileLink.svelte
  src/firebase/client/admin/getAllAccounts.ts
  src/schemas/AccountSchema.ts
  src/stores/profilesStore/index.ts
Due: check, test:unit

fix: user login time stamping restored
  src/components/client/eula/EulaDialog.tsx
  src/components/svelte/admin/User.svelte
  src/stores/sessionStore/account.ts
Due: check, test:unit

fix: site creation debugs removed
  src/components/client/SiteApp/CreateSiteView.tsx
  src/locales/fi/site.ts
Due: check, test:unit

chore: release 16.4
  package.json
  src/components/client/SiteApp/import/ImportForm.tsx
  src/content/fi/80-release-notes.md
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
Due: check, test:unit

fix: enable overwrite
  src/components/client/SiteApp/import/ImportForm.tsx
  src/components/client/shared/CyanToggleButton.tsx
  src/firebase/client/site/setPage.ts
Due: check, test:unit

fix: patching null handling in persistent storage
  package.json
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/stores/sessionStore/account.ts
  src/utils/server/renderProfileTags.ts
Due: check, test:unit

fix: wikilinks with markdown link part work. added option to use pf as system
  package.json
  public/icons/pathfinder.svg
  src/locales/fi/meta.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/schemas/nouns.ts
  src/utils/server/addSiteToWikilinks.ts
  src/utils/server/contentHelpers.ts
Due: check, test:unit

fix: light mode overrides
  package.json
  src/overrides.css
Due: check

chore: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: cross-linked personal and private sites
  package.json
  src/components/client/library/SitesList.tsx
  src/components/server/SiteList/SiteListColumn.astro
  src/components/svelte/sites/MySitesButton.svelte
  src/content/fi/80-release-notes.md
  src/overrides.css
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
