Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

feat: solid-js for client side rendering
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/server/AppBar.astro
  src/components/server/AppRail.astro
  src/lit-shims.d.ts
  tsconfig.json
Due: check, test:unit

fix: biome
  src/components/client/ProfileButton/ProfileButton.tsx
  src/lit-shims.d.ts
Due: check, test:unit

fix: biome
  astro.config.mjs
  biome.json
  package.json
  test/util/i18n.test.ts
  tsconfig.json
Due: check, test:unit

feat: login page template added
  package.json
  pnpm-lock.yaml
  src/components/client/login/EmailLoginSection.tsx
  src/components/client/login/SyndicatedLoginSection.tsx
  src/locales/fi/index.ts
  src/locales/fi/login.ts
  src/pages/index.astro
  src/pages/login.astro
  tsconfig.json
Due: check, test:unit

feat: email login form ported from 15
  package.json
  pnpm-lock.yaml
  src/components/client/login/EmailLoginSection.tsx
  src/firebase/client/index.ts
  src/locales/fi/actions.ts
  src/locales/fi/index.ts
  src/locales/fi/login.ts
  src/pages/login.astro
  src/utils/logHelpers.ts
Due: check, test:unit

uid persisted to local storage
  src/components/client/ProfileButton/ProfileButton.tsx
Due: check

fix: lints
  src/components/client/ProfileButton/ProfileButton.tsx
Due: check

feat: logout
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/pages/settings.astro
Due: check

fix: linter
  src/components/client/settings/SettingsApp/ProfileSection.tsx
Due: check

feat: login with google ported from 15
  src/components/client/login/SyndicatedLoginSection.tsx
  src/locales/fi/login.ts
  src/pages/login.astro
Due: check, test:unit

feat: added local storage state for the app
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileButton/handleLogin.ts
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/schemas/AccountSchema.ts
  src/utils/contentHelpers.ts
  src/utils/schemaHelpers.ts
  test/util/contentHelpers.test.ts
  test/util/schemaHelpers.test.ts
Due: check, test:unit

fix: locales ported from 14
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/locales/fi/index.ts
  src/locales/fi/settings.ts
Due: check, test:unit

fix: linter fixes
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/locales/fi/index.ts
  src/locales/fi/settings.ts
Due: check, test:unit

feat: user profile fetched to localstorage
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/handleLogin.ts
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/schemas/ProfileSchema.ts
Due: check, test:unit

fix: profile fields match live pelilauta
  biome.json
  package.json
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/server/BaseHead.astro
  src/locales/fi/entries.ts
  src/locales/fi/index.ts
  src/overrides.css
  src/schemas/AccountSchema.ts
Due: check, test:unit

fix: login polish to match production (v14)
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/ProfileButton.tsx
  src/locales/fi/index.ts
  src/locales/fi/navigation.ts
Due: check, test:unit

feat: documents collection
  biome.json
  src/content/config.ts
  src/content/fi/eula.md
  src/content/fi/index.md
  src/env.d.ts
  src/locales/fi/index.ts
  src/overrides.css
  src/pages/docs/[lang]/[...slug].astro
  tsconfig.json
Due: check, test:unit

fix: versioning
  package.json
Due: check

feat: tray added, docs uses it as a beta
  package.json
  src/components/server/docs/DocsTray.astro
  src/content/fi/coc.md
  src/layouts/PageWithTray.astro
  src/pages/docs/[lang]/[...slug].astro
Due: check

fix: rail added
  src/components/server/AppRail.astro
Due: none

feat: app-tray now works
  package.json
  pnpm-lock.yaml
  src/components/server/AppBar.astro
  src/components/server/docs/DocsTray.astro
  src/content/config.ts
  src/content/fi/index.md
  src/layouts/PageWithTray.astro
  src/locales/fi/index.ts
  src/overrides.css
  src/pages/docs/[lang]/[...slug].astro
Due: check, test:unit

fix: localization for docs link
  src/locales/fi/navigation.ts
Due: check, test:unit

fix: docs ordering and content
  public/icons/monsters.svg
  src/components/server/AppRail.astro
  src/components/server/docs/DocsTray.astro
  src/content/fi/01-index.md
  src/content/fi/02-coc.md
  src/content/fi/03-eula.md
Due: none

feat: saves account to db
  package.json
  pnpm-lock.yaml
  public/icons/close.svg
  src/components/client/ProfileButton/handleLogout.ts
  src/components/client/eula/EulaDialog.tsx
  src/components/server/BasePostscripts.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/lit-shims.d.ts
  src/locales/fi/login.ts
  src/overrides.css
Due: check, test:unit

fix: enroll mechanism polish
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileButton/handleLogin.ts
  src/components/client/ProfileButton/handleLogout.ts
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/locales/fi/actions.ts
  src/locales/fi/settings.ts
Due: check, test:unit

fix: pre-nanostores-commit
  package.json
  pnpm-lock.yaml
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/locales/fi/actions.ts
  src/locales/fi/settings.ts
  src/overrides.css
Due: check, test:unit

fix: solid store deprecations
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileButton/handleLogin.ts
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/schemas/AccountSchema.ts
  src/stores/sessionStore.ts
Due: check, test:unit

fix: solid store deprecations, biome
  src/components/client/eula/EulaDialog.tsx
  src/stores/sessionStore.ts
Due: check, test:unit

fix: deprecated rest of the makepersisted
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
Due: check

fix: enroll debugging tools etc
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileCard/ProfileCard.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/utils/toFid.ts
Due: check, test:unit

fix: account deletion and create funcional
  package.json
  pnpm-lock.yaml
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
Due: check

fix: tests and lints
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  test/util/toFid.tst.ts
Due: check, test:unit

chore: biome setup for .
  biome.json
  package.json
  test/util/toFid.tst.ts
Due: check, test:unit

feat: env variables
  .gitignore
  src/firebase/client/index.ts
  src/stores/sessionStore.ts
Due: check, test:unit

fix: refactored session app logic to store
  src/components/client/ProfileButton/ProfileButton.tsx
  src/schemas/AccountSchema.ts
  src/schemas/ProfileSchema.ts
  src/stores/sessionStore.ts
Due: check, test:unit

feat: added federated username as a separate field to profile creation
  src/components/client/debug.tsx
  src/components/client/eula/EulaDialog.tsx
  src/firebase/client/generateUsername.ts
  src/pages/index.astro
  src/stores/sessionStore.ts
Due: check, test:unit

fix: session context utils restored from 14
  .gitignore
  src/components/client/WithLogin/WithLogin.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/stores/sessionStore.ts
Due: check, test:unit

fix: added note to avoid building server side rendering for 16
  src/firebase/server/ThisFolderIntentionallyEmpty.md
Due: none

fix: testing, bugfixes, state management
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/login/EmailLoginSection.tsx
  src/components/client/login/SyndicatedLoginSection.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/layouts/PageWithTray.astro
  src/locales/fi/entries.ts
  src/locales/fi/settings.ts
  src/schemas/ProfileSchema.ts
  src/stores/sessionStore.ts
Due: check, test:unit

feat: profile saving functionality added
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
  src/stores/sessionStore/index.ts
  src/stores/sessionStore/profile.ts
Due: check, test:unit
