Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

chore: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: moved site card comps to svelte
  src/components/client/sites/SiteOwnerToken.tsx
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/server/ui/SiteCard.astro
  src/components/svelte/sites/SiteOwnerToken.svelte
Due: check

fix: myrrys-poster locally cached
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
Due: none

fix: myrrys-poster locally cached
  package.json
Due: check

fix: proprietary media update and cn-dialog depr
  src/components/client/media/MediaSelectDialog.tsx
  src/components/client/settings/SettingsApp/AvatarButton.tsx
  src/lit-shims.d.ts
Due: check, test:unit

fix: site creation and page editor polish
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/PageCategorySelect.tsx
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/content/fi/80-release-notes.md
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
Due: check, test:unit

fix: light mode polish and syndicate
  package.json
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/content/fi/80-release-notes.md
  src/overrides.css
Due: check

chore: updated design system
  package.json
  pnpm-lock.yaml
Due: check

chore: release numbers
  package.json
Due: check

chore: safe lib updates done
  package.json
  pnpm-lock.yaml
Due: check

fix: added latest changes comp
  src/components/server/SiteApp/LatestChanges.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/locales/fi/site.ts
Due: check, test:unit

fix: biome
  src/components/server/SiteApp/LatestChanges.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/locales/fi/site.ts
Due: check, test:unit

fix: extraneous import
  src/locales/fi/site.ts
Due: check, test:unit

feat: latest changes released
  package.json
  pnpm-lock.yaml
Due: check

chore: updated release notes
  src/content/fi/80-release-notes.md
Due: none

fix: removed extra logging
  src/components/client/SiteApp/SiteTocRegen.tsx
  src/components/client/login/EmailLoginSection.tsx
  src/components/client/shared/SortableList.tsx
  src/firebase/client/site/createSite.ts
  src/firebase/client/site/deleteSiteFromAssets.ts
  src/firebase/client/site/setPage.ts
  src/firebase/client/site/updateSiteAsset.ts
  src/firebase/server/index.ts
  src/utils/server/addSiteToWikilinks.ts
Due: check, test:unit

fix: removed a deprecated store
  src/schemas/GameSystemSchema.ts
  src/stores/SitesApp/systemsStore.ts
Due: check, test:unit

chore: removed deprecated code
  src/stores/SitesApp/pagesStore.ts
Due: check, test:unit

fix: moved editor form to svelte, added test init script for the editor
  e2e/init-test-db.ts
  package.json
  pnpm-lock.yaml
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
Due: check, test:unit

fix: biome
  e2e/init-test-db.ts
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
Due: check, test:unit

chore: moved test init to js for simplicity
  e2e/init-test-db.js
  package.json
Due: check, test:unit

fix: svelte page editor name field ux
  e2e/auth.setup.ts
  e2e/create-thread.spec.ts
  e2e/init-test-db.js
  e2e/page-editor.spec.ts
  playwright.config.ts
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/server/AppRail.astro
  src/components/svelte/app/SettingNavigationButton.svelte
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/stores/sessionStore/profile.ts
Due: check, test:unit

fix: on mount event listener for the lit component
  e2e/init-test-db.js
  e2e/page-editor.spec.ts
  src/components/svelte/page-editor/PageEditorForm.svelte
Due: check, test:unit

fix: page editor ux done, save missing
  e2e/init-test-db.js
  e2e/page-editor.spec.ts
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/locales/fi/entries.ts
  src/overrides.css
  src/utils/contentHelpers.ts
Due: check, test:unit

fix: tag duplicate and hash removal updated to tests
  test/util/contentHelpers.test.ts
Due: check, test:unit

fix: updated page editor screen
  package.json
  src/components/client/SiteApp/import/ImportForm.tsx
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/components/svelte/page-editor/submitPageUpdate.ts
  src/firebase/client/site/addPageRef.ts
  src/firebase/client/site/updatePage.ts
Due: check, test:unit

fix: pre-merge triage fixes
  src/components/client/SiteApp/CreateSiteView.tsx
  src/components/server/SiteApp/PageArticleFooter.astro
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/firebase/client/site/addPageRef.ts
  src/firebase/client/site/updatePage.ts
  src/locales/fi/site.ts
  src/stores/SitesApp/index.ts
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

fix: pre-release triage on prod
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/components/svelte/page-editor/migrateContent.ts
  src/content/fi/80-release-notes.md
  src/firebase/client/site/updatePage.ts
  src/pages/sites/[siteKey]/[pageKey]/delete.astro
Due: check, test:unit

chore: docs error
  src/content/fi/80-release-notes.md
Due: none

fix: updated tag styles and hrefs in page view
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/PageArticleFooter.astro
  src/content/fi/80-release-notes.md
Due: check

fix: astro upgdare and rail active fix
  package.json
  pnpm-lock.yaml
  src/components/server/AppRail.astro
Due: check

fix: moved to astro 5 collections
  src/components/server/BasePostscripts.astro
  src/content.config.ts
  src/content/config.ts
  src/docs/fi/01-index.md
  src/docs/fi/02-coc.md
  src/docs/fi/03-eula.md
  src/docs/fi/04-authz.md
  src/docs/fi/10-wikisyntax.md
  src/docs/fi/11-imports.md
  src/docs/fi/70-architecture.md
  src/docs/fi/71-designsystem.md
  src/docs/fi/72-features.md
  src/docs/fi/73-asset-management.md
  src/docs/fi/74-feeds.md
  src/docs/fi/80-release-notes.md
Due: check, test:unit

fix: biome
  src/content.config.ts
Due: check, test:unit

fix: astro upgdade triage
  package.json
  src/components/server/docs/DocsTray.astro
  src/content.config.ts
  src/pages/docs/[lang]/[id].astro
Due: check, test:unit

fix: upgraded vitest 2 to fix the test imports
  package.json
  pnpm-lock.yaml
Due: check

fix: cyan and mekanismi-logo updates
  package.json
  pnpm-lock.yaml
  public/icons/mekanismi.svg
Due: check

fix: moved site-list to svelte
  package.json
  src/components/svelte/site-library/FilteredSites.svelte
  src/components/svelte/site-library/SiteCard.svelte
  src/components/svelte/site-library/UserSitesList.svelte
  src/components/svelte/site-library/filters.svelte.ts
  src/docs/fi/80-release-notes.md
  src/locales/fi/entries.ts
  src/locales/fi/library.ts
  src/pages/library/index.astro
  src/stores/sitesStore/userSitesCache.ts
Due: check, test:unit

fix: externalized addons of cyan
  .gitmodules
Due: none

fix: externalized addons of cyan
  package.json
  pnpm-lock.yaml
  src/components/client/shared/CyanEditor.tsx
  src/components/server/BaseHead/BaseHead.astro
  tsconfig.json
Due: check

fix: externalized addons of cyan, biome
  src/components/client/shared/CyanEditor.tsx
  tsconfig.json
Due: check
