Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: asset upload snack updated
  src/locales/fi/site.ts
Due: check, test:unit

fix: restored attach pagelinks
  package.json
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/utils/server/renderAssetMarkup.ts
Due: check, test:unit

fix: wikisyntax for assets added to docs
  public/icons/info.svg
  src/content/fi/10-wikisyntax.md
Due: none

fix: biome
  src/components/client/media/MediaSelectDialog.tsx
  src/stores/assetStore/index.ts
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: page title repeats too many times
  src/components/server/SiteApp/PageApp.astro
  src/overrides.css
Due: none

fix: added basic code to add assets to thread
  src/components/client/ThreadApp/ImagesSection.tsx
  src/components/client/ThreadApp/ThreadEditor/ImagesPreviewSection.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditorTopBar.tsx
  src/firebase/client/threads/addAssetToThread.ts
  src/overrides.css
  src/pages/create/thread.astro
  src/pages/threads/[threadKey]/edit.astro
Due: check, test:unit

feat: assets can again be added to threads
  src/components/client/FrontPage/ThreadCard.tsx
  src/components/client/SiteApp/assets/FileUploadButton.tsx
  src/components/client/ThreadApp/ThreadEditor/ImagesPreviewSection.tsx
  src/components/client/ThreadApp/ThreadEditor/TagsPreviewSection.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/firebase/client/threads/addAssetToThread.ts
  src/firebase/client/threads/addThread.ts
  src/pages/create/thread.astro
  src/pages/sites/[siteKey]/assets.astro
Due: check, test:unit

chore: versioning and docs
  package.json
  src/content/fi/73-asset-management.md
Due: check

fix: prod release num, and tags for sites
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/PageApp.astro
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/utils/server/renderTags.ts
  test/util/server/renderTags.test.ts
Due: check, test:unit

fix: cache control to 1
  src/pages/api/threads/index.json.ts
Due: check, test:unit

chore: docs for feeds
  src/content/fi/74-feeds.md
Due: none

fix: fixed threads with broken asset array
  package.json
  pnpm-lock.yaml
  src/components/client/FrontPage/ThreadCard.tsx
Due: check

fix: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: removed deprecated withlogin
  src/components/client/SiteApp/CreateSiteView.tsx
  src/components/client/library/SitesList.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/client/shared/WithAuth.tsx
  src/components/client/shared/WithLogin.tsx
  src/locales/fi/actions.ts
Due: check, test:unit

fix: mobile styling updates + extra logging removed
  package.json
  src/components/client/admin/ForumAdminApp.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/server/AppFooter.astro
  src/components/server/SiteApp/PageApp.astro
  src/overrides.css
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/stores/SitesApp/pagesStore.ts
  src/stores/ThreadsApp/topics.ts
  src/utils/server/renderTags.ts
Due: check, test:unit

fix: basic rss support added
  package.json
  pnpm-lock.yaml
  public/rss/styles.xsl
  src/locales/fi/index.ts
  src/pages/rss/threads.xml.ts
Due: check, test:unit

fix: test strings updated
  test/util/i18n.test.ts
Due: check, test:unit

fix: updated libs
  package.json
  pnpm-lock.yaml
Due: check

chore: install shennigans
  pnpm-lock.yaml
Due: none

fix: feeds implemented for 16.1.0 release, hidden with flag
  src/content/fi/74-feeds.md
  src/pages/rss/threads.xml.ts
  test/util/i18n.test.ts
Due: check, test:unit

fix: added rss to footer (if flag is on)
  src/components/server/AppFooter.astro
  src/content/fi/80-release-notes.md
Due: none

fix: added license file
  LICENSE
Due: none

feat: mekanismi dice syntax added
  package.json
  pnpm-lock.yaml
  src/content/fi/10-wikisyntax.md
  src/content/fi/80-release-notes.md
  src/overrides.css
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/utils/server/renderDice.ts
  test/util/server/renderDice.test.ts
Due: check, test:unit

feat: asset editor route added
  src/components/client/SiteApp/assets/AssetEditorForm.tsx
  src/components/client/SiteApp/assets/AssetRowItem.tsx
  src/components/client/SiteApp/assets/LicenseSelect.tsx
  src/components/server/SiteApp/AssetEditor.astro
  src/content/fi/80-release-notes.md
  src/pages/sites/[siteKey]/assets/[assetName].astro
  src/pages/sites/[siteKey]/assets/index.astro
  src/schemas/AssetSchema.ts
Due: check, test:unit

feat: asset editor form saving in place
  src/components/client/SiteApp/assets/AssetEditorForm.tsx
  src/firebase/client/site/updateSiteAsset.ts
  src/schemas/AssetSchema.ts
Due: check, test:unit

fix: biome
  src/firebase/client/site/updateSiteAsset.ts
Due: check, test:unit

fix: added meta info to site assets page
  src/components/client/SiteApp/assets/AssetRowItem.tsx
  src/locales/fi/meta.ts
Due: check, test:unit

fix: redirect to sites list, ugly but works
  package.json
  src/components/client/library/SitesList.tsx
  src/content/fi/80-release-notes.md
Due: check

chore: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

chore: release number
  package.json
Due: check

chore: removed the feature flag as redundant
  src/components/server/AppFooter.astro
  src/pages/rss/threads.xml.ts
Due: check, test:unit

fix: footer rss link visible
  package.json
  src/components/server/AppFooter.astro
Due: check

chore: cyan updates and release notes updated
  package.json
  pnpm-lock.yaml
  src/content/fi/80-release-notes.md
Due: check

fix: deprecated $pages store
  public/icons/share.svg
  src/components/client/SitesApp/SiteSettingsApp/SiteHomePageSelect.tsx
  src/stores/SitesApp/pagesStore.ts
Due: check, test:unit

fix: biome
  src/components/client/SitesApp/SiteSettingsApp/SiteHomePageSelect.tsx
Due: check

fix: deprecated parts of pages store
  src/stores/SitesApp/pagesStore.ts
Due: check, test:unit

fix: mekanismi branding polish
  public/icons/mekanismi.svg
Due: none

fix: threads route corrected
  src/pages/rss/threads.xml.ts
Due: check, test:unit

fix: removed deprecated site store
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/pages/sites/[siteKey]/create/page.astro
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
