Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

feat: added myrrys to syndicated streams
  package.json
  pnpm-lock.yaml
  src/components/server/FrontPage/SyndicateStream.astro
  src/overrides.css
  src/pages/index.astro
  tsconfig.json
Due: check

fix: small fixes to myrrys branding
  src/components/server/FrontPage/SyndicateStream.astro
  src/overrides.css
Due: none

feat: added roolipelitiedotus feed to front page
  src/components/server/FrontPage/SyndicateStream.astro
  src/overrides.css
Due: none

fix: sites work as intended
  src/components/client/FrontPage/SitesStream.tsx
  src/components/client/sites/SiteCard.tsx
  src/overrides.css
  src/pages/index.astro
  src/stores/FrontPage/TopSitesStore.ts
Due: check, test:unit

fix: prerender added for info sections
  src/components/server/docs/DocsTray.astro
  src/pages/docs/[lang]/[...slug].astro
Due: none

fix: front page dynamic elements in place
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/layouts/Page.astro
  src/locales/fi/actions.ts
  src/pages/index.astro
Due: check, test:unit

fix: removed extraneous imports
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/client/SiteApp/PageArticle.tsx
  src/stores/FrontPage/TopSitesStore.ts
Due: check, test:unit

fix: sitelist uses the correct loaders
  src/components/client/library/SitesList.tsx
  src/pages/library/index.astro
  src/stores/sitesStore/index.ts
Due: check, test:unit

fix: terminology for nav
  src/components/server/AppRail.astro
  src/locales/fi/navigation.ts
Due: check, test:unit

fix: thread creation route and server side scaffold
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/server/AppBar.astro
  src/layouts/ModalPage.astro
  src/layouts/PageWithTray.astro
  src/overrides.css
  src/pages/create/thread.astro
Due: check

fix: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: updated color definitions for cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: thread editor topics are fetched from db
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/overrides.css
  src/pages/create/thread.astro
Due: check

fix: biome
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
Due: check

fix: updated cyan for editor
  package.json
  pnpm-lock.yaml
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/overrides.css
Due: check

pnpm: polish to thread editor form
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/locales/fi/actions.ts
  src/locales/fi/entries.ts
  src/overrides.css
Due: check, test:unit

fix: thread edit ux in place
  package.json
  pnpm-lock.yaml
  src/components/server/AppBar.astro
Due: check

fix: tags are extracted from the markdown
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/overrides.css
  src/schemas/ThreadSchema.ts
  src/stores/ThreadsApp/updateThread.ts
  src/utils/contentHelpers.ts
  test/util/contentHelpers.test.ts
Due: check, test:unit

fix: cyan updated to a108
  package.json
  pnpm-lock.yaml
  src/components/client/FrontPage/SitesStream.tsx
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/components/server/FrontPage/SyndicateStream.astro
  src/overrides.css
Due: check

fix: flex-grow and thread.channel refactors
  src/components/client/sites/PageApp/PageEditor.tsx
  src/components/client/sites/SiteCard.tsx
  src/components/client/threads/ForumPage.tsx
  src/components/client/threads/ThreadApp/ThreadInfoCard.tsx
  src/components/client/threads/ThreadCard.tsx
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/components/server/AppRail.astro
  src/components/shared/PosterSection.tsx
  src/components/shared/WikiPageHeader.tsx
Due: check

fix: added the rail link to inbox
  src/components/client/SocialApp/InboxRailButton.tsx
  src/components/server/AppRail.astro
  src/overrides.css
  src/stores/SocialApp/notificationsStore.tsx
Due: check

feat: notifications are fetched from the db
  src/components/client/SocialApp/InboxRailButton.tsx
  src/schemas/NotificationSchema.ts
  src/stores/SocialApp/notificationsStore.tsx
  test/schemas/Notification.test.ts
Due: check, test:unit

fix: added route and basic functionality for inbox
  src/components/client/SocialApp/SocialApp.tsx
  src/pages/inbox/index.astro
Due: check

fix: default locale for inbox
  src/components/client/SocialApp/SocialApp.tsx
  src/locales/fi/index.ts
  src/locales/fi/navigation.ts
  src/locales/fi/social.ts
  src/overrides.css
Due: check, test:unit

fix: refactored notification item to a comp
  src/components/client/SocialApp/InboxRailButton.tsx
  src/components/client/SocialApp/NotificationItem.tsx
  src/components/client/SocialApp/SocialApp.tsx
  src/stores/SocialApp/notificationsStore.tsx
Due: check

feat: beta ready
  package.json
Due: check

fix: refactored thread store to new pattern
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/components/client/threads/ThreadApp/ThreadInfoCard.tsx
  src/components/client/threads/ThreadLikeButton.tsx
  src/locales/fi/threads.ts
  src/stores/ThreadsApp/discussion.ts
  src/stores/activeThreadStore/index.ts
  src/stores/activeThreadStore/replies.ts
Due: check, test:unit

fix: images are displayed correctly
  src/components/client/threads/ThreadApp/ImagesSection.tsx
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/schemas/ThreadSchema.ts
Due: check, test:unit

fix: multiple images can be shown for a thread
  src/components/client/threads/ThreadApp/ImagesSection.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/schemas/ThreadSchema.ts
Due: check, test:unit

fix: updated cyan
  package.json
  pnpm-lock.yaml
  src/components/client/threads/ThreadApp/ReplyBublle.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
Due: check

fix: added avatars to reply bubble
  .gitignore
  src/components/client/shared/ProfileAvatar.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/client/threads/ThreadApp/ReplyBublle.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/overrides.css
Due: check

fix: ported the reply like functions from prod
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/lit-shims.d.ts
  src/schemas/ReplySchema.ts
  src/stores/SocialApp/reactionStore.tsx
  src/stores/ThreadsApp/discussion.ts
  src/stores/ThreadsApp/reactions.ts
Due: check, test:unit

fix: biome
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
Due: check

fix: reply actions work as expected
  package.json
  pnpm-lock.yaml
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/stores/ThreadsApp/reactions.ts
Due: check, test:unit

fix: quotes are rendered correctly on editor
  src/components/client/shared/ProfileLink.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/components/client/threads/ThreadApp/ThreadDiscussion.tsx
  src/components/shared/MarkdownSection.tsx
Due: check

fix: adding replies
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/schemas/ReplySchema.ts
  src/stores/ThreadsApp/discussion.ts
Due: check, test:unit

fix: reply styling and locale
  public/icons/quote.svg
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/locales/fi/threads.ts
  src/stores/ThreadsApp/discussion.ts
Due: check, test:unit

fix: polish
  src/schemas/ReplySchema.ts
Due: check, test:unit

fix: added edit buttons
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/client/threads/ThreadApp/ThreadApp.tsx
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
