Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: site options now uses use-x form setting
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/docs/80-release-notes.md
Due: check

fix: create page polish
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/create/page.astro
Due: check, test:unit

chore: astro vercel libs
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: moved homepage select to meta settings
  package.json
  src/components/client/SitesApp/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/svelte/admin/UserAdmin.svelte
  src/components/svelte/sites/settings/SiteHomepageSelect.svelte
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  svelte.config.js
Due: check, test:unit

fix: syndicate stream ordering
  package.json
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
Due: check

fix: rss syndication fixed
  package.json
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
Due: check

fix: theming tools moved to svelte
  package.json
  src/components/client/SiteApp/settings/ThemingSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
  src/components/svelte/sites/settings/SettingsApp.svelte
  src/components/svelte/sites/settings/SiteThemeImageInput.svelte
  src/components/svelte/sites/settings/SiteThemingSection.svelte
Due: check

fix: danger zone refactored
  package.json
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/svelte/sites/settings/SettingsApp.svelte
  src/components/svelte/sites/settings/SiteDangerZoneSection.svelte
  src/docs/80-release-notes.md
  src/pages/sites/[siteKey]/settings.astro
Due: check

chore: removed solid siteapp store
  src/stores/SitesApp/ReadMe.md
  src/stores/SitesApp/index.ts
Due: check, test:unit

fix: notification typing improvements
  src/docs/75-notifications.md
  src/firebase/client/notifications.ts
  src/schemas/NotificationSchema.ts
  src/stores/ThreadsApp/reactions.ts
  src/stores/site/handouts.ts
  test/schemas/Notification.test.ts
Due: check, test:unit

feat: inbox listens to handout updates
  package.json
  src/components/client/SocialApp/InboxRailButton.tsx
  src/components/server/AppRail.astro
  src/components/server/BottomBar.astro
  src/components/svelte/inbox/InboxNavigationButton.svelte
  src/docs/80-release-notes.md
  src/schemas/NotificationSchema.ts
  src/stores/SocialApp/notificationsStore.tsx
  src/stores/inbox/index.ts
  test/schemas/Notification.test.ts
Due: check, test:unit

feat: notifications can be red
  src/components/client/SocialApp/NotificationItem.tsx
  src/components/client/SocialApp/SocialApp.tsx
  src/components/svelte/inbox/InboxApp.svelte
  src/components/svelte/inbox/NotificationItem.svelte
  src/firebase/client/inbox/markRead.ts
  src/locales/fi/social.ts
  src/pages/inbox/index.astro
  src/schemas/NotificationSchema.ts
  src/stores/ThreadsApp/reactions.ts
  src/stores/inbox/index.ts
  src/stores/site/handouts.ts
Due: check, test:unit

feat: handout change notifications
  src/components/svelte/inbox/NotificationItem.svelte
  src/components/svelte/sites/handouts/HandoutEditor.svelte
  src/docs/80-release-notes.md
  src/firebase/client/inbox/deleteNotification.ts
  src/firebase/client/notifications.ts
  src/locales/fi/social.ts
  src/stores/site/handouts.ts
Due: check, test:unit

fix: adding a player adds a new style notification
  package.json
  src/components/svelte/inbox/NotificationItem.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/docs/80-release-notes.md
  src/firebase/client/notifications.ts
  src/locales/fi/social.ts
  src/schemas/NotificationSchema.ts
Due: check, test:unit

fix: handout notification link parsing
  package.json
  src/components/svelte/inbox/NotificationItem.svelte
  src/docs/80-release-notes.md
Due: check

fix: refactored discussion to ssr+svelte enhanced
  src/components/server/DiscussionApp/DiscussionApp.astro
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/discussion/ReplyArticle.svelte
  src/firebase/server/discussion/fetchDiscussion.ts
  src/pages/threads/[threadKey]/index.astro
Due: check, test:unit

chore: added some tooling to main repo
  .gitignore
  package.json
  pnpm-lock.yaml
  tooling/backupStorage.js
Due: check, test:unit

feat: sites can be loved
  package.json
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/admin/AddSiteReactions.svelte
  src/components/svelte/admin/SitesAdmin.svelte
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/discussion/ReplyArticle.svelte
  src/components/svelte/inbox/NotificationItem.svelte
  src/docs/80-release-notes.md
  src/firebase/client/site/createSite.ts
  src/locales/fi/social.ts
  src/pages/threads/[threadKey]/index.astro
  src/schemas/ReactionsSchema.ts
  tooling/backupStorage.js
Due: check, test:unit

chore: correct lock file
  pnpm-lock.yaml
Due: none

fix: caps
  src/components/svelte/app/ReactionButton.svelte
Due: none

fix: handout editor polish
  package.json
  src/components/svelte/sites/handouts/HandoutEditor.svelte
  src/docs/80-release-notes.md
  src/docs/81-planned-changes.md
  src/stores/site/handouts.ts
Due: check, test:unit

fix: pre-release
  public/icons/import-export.svg
  src/components/client/SiteApp/toc/ImportExportTool.tsx
  src/components/svelte/sites/SiteAdminActions.svelte
  src/components/svelte/sites/data/ExportAsMDSection.svelte
  src/components/svelte/sites/data/SiteDataApp.svelte
  src/firebase/client/site/exportSiteAsMd.ts
  src/firebase/server/discussion/fetchDiscussion.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/data.astro
Due: check, test:unit

chore: release notes updated
  package.json
  src/docs/80-release-notes.md
Due: check

fix: channels page polish
  package.json
  src/components/client/threads/ForumPage.tsx
  src/components/server/AppRail.astro
  src/components/server/BottomBar.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/svelte/admin/channels/ChannelSettings.svelte
  src/components/svelte/admin/channels/ChannelsAdmin.svelte
  src/docs/80-release-notes.md
  src/pages/admin/channels.astro
  src/pages/channels/index.astro
  src/pages/threads/index.astro
  src/stores/subscription/index.ts
Due: check, test:unit

chore: license dates
  LICENSE
Due: none

fix: site library solid-js removed
  src/components/client/library/SiteFabs.tsx
  src/components/client/library/SitesList.tsx
  src/components/svelte/site-library/FilteredSites.svelte
  src/components/svelte/site-library/LibrarySitesFabs.svelte
  src/components/svelte/site-library/UserSitesList.svelte
  src/docs/80-release-notes.md
  src/pages/library/index.astro
  src/stores/userSites/index.ts
Due: check, test:unit

fix: admin button to svelte
  src/components/client/navigation/AdminNavigationButton.tsx
  src/components/client/sites/SiteCard.tsx
  src/components/server/AppRail.astro
  src/components/svelte/admin/AdminNavigationButton.svelte
  src/components/svelte/site-library/LibrarySitesFabs.svelte
  src/docs/80-release-notes.md
  src/pages/library/index.astro
Due: check

fix: onboarding card on svelte
  package.json
  src/components/client/FrontPage/OnboardingCard.tsx
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/svelte/frontpage/OnboardingCard.svelte
  src/docs/80-release-notes.md
  src/locales/fi/index.ts
Due: check, test:unit

fix: ssr for forum index
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/svelte/channels/ChannelInfoRow.svelte
  src/docs/80-release-notes.md
Due: check

fix: threadcard subscription moved to svelte side
  package.json
  src/components/client/FrontPage/CardSubscriber.tsx
  src/components/server/FrontPage/ThreadCard.astro
  src/components/svelte/frontpage/CardSubscription.svelte
  src/docs/80-release-notes.md
Due: check

fix: thread like button moved to svelte
  src/components/server/FrontPage/ThreadCard.astro
  src/components/svelte/threads/ThreadLikeButton.svelte
Due: none

fix: thread reactions to new style
  package.json
  pnpm-lock.yaml
  src/components/client/threads/ThreadLikeButton.tsx
  src/components/server/FrontPage/ThreadCard.astro
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/threads/ThreadLikeButton.svelte
  tooling/backupStorage.mjs
  tooling/migrateReactions.ts
Due: check, test:unit

fix: reaction button now supports threads and sites
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ThreadListItem.astro
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/svelte/app/ReactionButton.svelte
  tooling/migrateReactions.ts
Due: check, test:unit

BREAKING: reaction button updates
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/discussion/ReplyArticle.svelte
  src/docs/80-release-notes.md
  src/firebase/client/inbox/markRead.ts
  src/pages/threads/[threadKey]/index.astro
  src/stores/inbox/index.ts
Due: check, test:unit

fix: discussion on svelte working
  package.json
  pnpm-lock.yaml
  public/icons/dots.svg
  src/components/server/ChannelApp/ThreadListItem.astro
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/discussion/ReplyArticle.svelte
  src/firebase/client/inbox/markRead.ts
  src/stores/inbox/index.ts
Due: check, test:unit

BREAKING: replies create new-style notifications
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/ThreadApp/ReplyButton.tsx
  src/components/client/ThreadApp/ReplyDialog.tsx
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/server/DiscussionApp/DiscussionApp.astro
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/discussion/ReplyDialog.svelte
  src/firebase/client/threads/addReply.ts
  src/pages/threads/[threadKey]/index.astro
  src/schemas/ReplySchema.ts
  src/stores/ThreadsApp/discussion.ts
  src/stores/ThreadsApp/reactions.ts
Due: check, test:unit

fix: markdown now visible in the reply
  src/components/svelte/discussion/ReplyArticle.svelte
Due: none

fix: discussion now subscribes to changes
  src/components/svelte/discussion/DiscussionSection.svelte
  src/firebase/client/threads/addReply.ts
Due: check, test:unit

fix: disabled reactions for own entries
  package.json
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/inbox/NotificationItem.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/addReply.ts
  src/locales/fi/social.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
