Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

fix: cleanup of code and isolation
  package.json
  pnpm-lock.yaml
  src/components/client/sites/CreateSiteApp.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/schemas/SiteSchema.ts
  src/stores/activeSiteStore/pagesStore.ts
  src/stores/sitesStore/index.ts
  src/utils/client/entryUtils.ts
  src/utils/client/toFirestoreEntry.ts
  test/schemas/Site.test.ts
  vitest.config.js
Due: check, test:unit

fix: polish to site schema creation
  src/schemas/SiteSchema.ts
  src/utils/schemaHelpers.ts
Due: check, test:unit

fix: more polish for site schema
  src/schemas/SiteSchema.ts
Due: check, test:unit

MAJOR: refactored siteapp stores and index structure
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageEditor.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
  src/components/client/sites/PageArtivle.tsx
  src/components/client/sites/SiteApp/SiiteTray.tsx
  src/components/client/sites/SiteApp/SiteApp.tsx
  src/components/client/sites/SiteApp/SiteTocPage.tsx
  src/components/client/sites/SitePoster.tsx
  src/components/client/sites/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/components/client/sites/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/sites/SiteSettingsButton.tsx
  src/stores/SiteApp/ReadMe.md
  src/stores/SiteApp/index.ts
  src/stores/SiteApp/pagesStore.ts
  tsconfig.json
Due: check, test:unit

fix: siteapp elevated to a microfrontend
  src/components/client/SiteApp/SiteApp.tsx
  src/components/client/SiteApp/SiteSettingsButton.tsx
  src/components/client/SiteApp/SiteTocPage.tsx
  src/components/client/SiteApp/SiteTray.tsx
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check

feat: updated the site struct
  package.json
Due: check

feat: toc repair tool added
  src/components/client/SiteApp/SiteTocMigrateSection.tsx
  src/components/client/SiteApp/SiteTocPage.tsx
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/toc.astro
  src/schemas/SiteSchema.ts
  src/stores/SiteApp/recreatePageRefs.ts
Due: check, test:unit

fix: moved to a single-page-atom for views
  src/stores/SiteApp/index.ts
  src/stores/SiteApp/pagesStore.ts
Due: check, test:unit

fix: page view uses new atom
  src/components/client/sites/PageApp/PageApp.tsx
Due: check

fix: site toc uses pagerefs in both instances
  src/components/client/SiteApp/SiteTocPage.tsx
  src/components/client/SiteApp/SiteTocSection.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
Due: check

fix: site toc is updated correctly after the breaking change
  src/components/client/SiteApp/SiteTocSection.tsx
  src/stores/SiteApp/pagesStore.ts
Due: check, test:unit

feat: nanostore for thread app
  src/stores/ThreadsApp/README.md
  src/stores/ThreadsApp/index.ts
Due: check, test:unit

fix: the frontpage threads component uses thread-app cache first
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/threads/ThreadStream.tsx
  src/pages/index.astro
  src/stores/ThreadsApp/index.ts
Due: check, test:unit

feat: added forum route and topics schema
  src/components/client/threads/ForumPage.tsx
  src/components/client/threads/ForumTray.tsx
  src/pages/threads/index.astro
  src/schemas/MetaTopicsSchema.ts
  src/stores/ThreadsApp/topics.ts
  test/schemas/Topics.test.ts
Due: check, test:unit

fix: forum topics support post counts
  src/components/client/threads/ForumTray.tsx
  src/locales/fi/threads.ts
  src/pages/threads/index.astro
Due: check, test:unit

fix: forum added to rail
  src/components/server/AppRail.astro
  src/locales/fi/navigation.ts
Due: check, test:unit

fix: category search for forum front page
  src/components/client/threads/ForumPage.tsx
Due: check

fix: category and topic fields visible
  src/components/client/threads/ForumPage.tsx
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: ux polish
  src/components/client/threads/ForumPage.tsx
Due: check

fix: override for forum grid
  src/components/client/threads/ForumPage.tsx
  src/overrides.css
Due: check

fix: added route for topic/channel
  src/components/client/threads/ChannelPage.tsx
  src/components/client/threads/ForumPage.tsx
  src/overrides.css
  src/pages/channels/[channelKey].astro
Due: check

feat: added a pagination toolbar
  src/components/client/threads/ChannelPage.tsx
  src/components/client/threads/ChannelPage/ChannelPage.tsx
  src/components/client/threads/ChannelPage/PaginationToolbar.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/locales/fi/threads.ts
  src/pages/channels/[channelKey].astro
Due: check, test:unit

fix: styling
  src/components/client/threads/ChannelPage/PaginationToolbar.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
Due: check

fix: thread list item polish
  src/components/client/threads/ChannelPage/ChannelPage.tsx
  src/components/client/threads/ChannelPage/PaginationToolbar.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/pages/channels/[channel]/[page].astro
  src/schemas/ThreadSchema.ts
  src/stores/ThreadsApp/index.ts
Due: check, test:unit

fix: added a store for caching a channel content at client side. Just to be sure we never refretch the whole channel
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: refactored channel page comps
  src/components/client/threads/ChannelPage/ChannelPage.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/components/client/threads/ChannelPage/ThreadsArticle.tsx
  src/components/client/threads/ForumPage.tsx
  src/pages/channels/[channelKey].astro
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: fetching first page works
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: triage fixes and polish to profile link and channel store
  src/components/client/shared/ProfileLink.tsx
  src/stores/channelStore/channelStore.ts
  src/stores/profilesStore/index.ts
  src/utils/client/entryUtils.ts
Due: check, test:unit

fix: thread load and channel menu polish
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/threads/ForumTray.tsx
  src/locales/fi/threads.ts
  src/schemas/ThreadSchema.ts
  src/stores/SiteApp/pagesStore.ts
  src/stores/ThreadsApp/index.ts
  src/stores/activeThreadStore/index.ts
  src/stores/channelStore/channelStore.ts
  src/stores/recentThreadsStore/index.ts
Due: check, test:unit

rewrote the page fetching to store based
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: page fetching to cache
  src/stores/ThreadsApp/topics.ts
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: channelstore works for subsequent pages too.
  src/components/client/threads/ChannelPage/PaginationToolbar.tsx
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: page fetching to cache
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

fix: commitlint ordering
  lefthook.yml
Due: none

fix: commitlint edit
  lefthook.yml
Due: none

fix: commitlint now follows official guide
  .lefthook/.commit-msg/commitlint.sh
  lefthook.yml
Due: none

fix: parking thread lint and build hint fixes
  src/components/client/SiteApp/SiteTocMigrateSection.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

feat: page conversion (from html) works as expected
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/MigrateContentPanel.tsx
  src/components/client/SiteApp/PageArticle.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/locales/fi/site.ts
  src/schemas/PageSchema.ts
  src/stores/SiteApp/index.ts
Due: check, test:unit

fix: added icon for karu studio
  public/icons/karu.svg
Due: none

fix: front page main main bug fix
  src/pages/index.astro
Due: none
