Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: build tools for subrepos
  package.json
  pnpm-lock.yaml
Due: check

fix: all tools upgraded or updated to post astro 5 world
  package.json
  pnpm-lock.yaml
Due: check

chore: release
  package.json
Due: check

feat: tag writing to new datastructure
  src/firebase/client/site/addPage.ts
  src/firebase/client/site/setPage.ts
  src/firebase/client/site/updatePage.ts
  src/firebase/client/site/updatePageRef.ts
  src/firebase/client/site/updatePageTags.ts
  src/schemas/TagSchema.ts
Due: check, test:unit

feat: tags page suppots simplified tag struct
  src/firebase/client/site/updatePageTags.ts
  src/locales/fi/index.ts
  src/locales/fi/tag.ts
  src/pages/api/tags/[tag].json.ts
  src/pages/tags/[tag].astro
  src/schemas/TagSchema.ts
Due: check, test:unit

chore: design system updates
  package.json
  pnpm-lock.yaml
Due: check

chore: bump version for feats
  package.json
Due: check

fix: removed logging, fixed release notes
  src/docs/fi/80-release-notes.md
  src/utils/server/contentHelpers.ts
Due: check, test:unit

fix: cn-editor event bubble correctly
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/pages/api/tags/[tag].json.ts
Due: check, test:unit

fix: restored migration of old content
  src/components/svelte/page-editor/PageEditorForm.svelte
Due: none

fix: page editor crash on tag writing
  package.json
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/docs/fi/80-release-notes.md
  src/firebase/client/site/updatePage.ts
Due: check, test:unit

fix: thread editor uses svelte, not functional yet
  src/components/svelte/app/AddFilesButton.svelte
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/pages/api/meta/channels.json.ts
  src/pages/create/thread.astro
Due: check, test:unit

fix: updated cyan
  package.json
  pnpm-lock.yaml
Due: check

fix: moved to cn-lightbox for thread images
  .gitmodules
Due: none

fix: moved to cn-lightbox for thread images
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/ThreadsApp/ThreadArticle.astro
  vitest.workspace.js
Due: check, test:unit

fix: biome
  biome.json
  vitest.workspace.js
Due: check, test:unit

fix: refactor of thread editor ux done
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
Due: none

fix: saving functionality for new threads
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
Due: check, test:unit

fix: thread editor rewrite in place for add, missing tests
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
Due: check, test:unit

fix: adding a thread works in test env
  e2e/authenticate-e2e.ts
  e2e/create-thread.spec.ts
  e2e/page-editor.spec.ts
  src/firebase/client/threads/addThread.ts
  src/pages/api/meta/channels.json.ts
Due: check, test:unit

fix: biome
  e2e/authenticate-e2e.ts
  e2e/create-thread.spec.ts
  src/firebase/client/threads/addThread.ts
Due: check, test:unit

fix: rudimentary automatic testing in place
  e2e/create-thread.spec.ts
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
Due: check, test:unit

fix: tag visibility corrected
  src/components/server/ThreadsApp/ThreadArticle.astro
Due: none

feat: pre-release updates and fixes
  package.json
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/docs/fi/80-release-notes.md
  src/firebase/client/site/updatePage.ts
  src/firebase/client/threads/addThread.ts
  src/firebase/client/threads/updateThreadTags.ts
Due: check, test:unit

fix: legacy content for threads
  package.json
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/docs/fi/80-release-notes.md
  src/schemas/ContentEntry.ts
Due: check, test:unit

fix: added gfm footnote support to marked
  package.json
  pnpm-lock.yaml
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/docs/fi/80-release-notes.md
  src/utils/marked.ts
Due: check, test:unit

fix: added gfm footnote support to marked + biome
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/utils/marked.ts
Due: check, test:unit

fix: profile page moved to SSR
  package.json
  src/components/client/ProfileApp/ProfileApp.tsx
  src/components/server/profile/ProfileApp.astro
  src/components/server/profile/ProfileArticle.astro
  src/docs/fi/80-release-notes.md
  src/pages/api/profiles/[uid].json.ts
  src/pages/profiles/[uid].astro
Due: check, test:unit

fix: profile page shows latest stites and posts
  package.json
  src/components/server/profile/ProfileApp.astro
  src/components/server/profile/ProfileSiteList.astro
  src/components/server/profile/ProfileThreads.astro
  src/components/svelte/app/ProfileLink.svelte
  src/docs/fi/80-release-notes.md
  src/locales/fi/index.ts
  src/locales/fi/profile.ts
  src/overrides.css
  src/pages/api/sites/index.ts
  src/pages/api/threads/index.json.ts
Due: check, test:unit

chore: correct versions
  src/docs/fi/80-release-notes.md
Due: none

chore: fixed the version number
  src/docs/fi/80-release-notes.md
Due: none

fix: using standard comps in profile page
  src/components/server/profile/ProfileSiteList.astro
  src/components/server/profile/ProfileThreads.astro
  src/overrides.css
Due: none

chore: release 16.8.0
  package.json
  src/docs/fi/80-release-notes.md
Due: check

fix: admin screen polish
  src/components/svelte/admin/User.svelte
  src/components/svelte/admin/UserAdmin.svelte
Due: none

fix: user freezing works as expected
  package.json
  pnpm-lock.yaml
  src/components/svelte/admin/User.svelte
  src/docs/fi/80-release-notes.md
  src/firebase/client/account/setFrozen.ts
Due: check, test:unit

fix: user freezing works as expected
  src/components/svelte/admin/User.svelte
  src/firebase/client/account/setFrozen.ts
Due: check, test:unit

feat: active users widget added
  package.json
  src/components/server/app/ActiveUsersWidget.astro
  src/components/server/app/AppFooter.astro
  src/components/server/profile/ProfileSiteList.astro
  src/components/server/profile/ProfileThreads.astro
  src/components/svelte/app/AvatarLink.svelte
  src/docs/fi/80-release-notes.md
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/pages/api/accounts/active.json.ts
Due: check, test:unit

fix: user select does not query historical users
  src/components/svelte/app/UserSelect.svelte
  src/components/svelte/sites/SiteOwnersTool.svelte
  src/pages/sites/[siteKey]/members.astro
  src/stores/activeProfilesStore.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
