Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

feat: thread forking form and save added
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/locales/fi/entries.ts
  src/locales/fi/threads.ts
  src/overrides.css
  src/pages/threads/[threadKey]/replies/[replyKey]/fork.astro
  src/schemas/ThreadSchema.ts
Due: check, test:unit

feat: section for quote on thread view
  src/components/client/threads/ThreadApp/ReplySection.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/locales/fi/threads.ts
  src/pages/api/replies/[threadKey]/[replyKey].json.ts
Due: check, test:unit

fix: biome
  src/components/client/threads/ThreadApp/ReplySection.tsx
Due: check

feat: cross-posting works
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/locales/fi/threads.ts
  src/utils/i18n.ts
  test/util/i18n.test.ts
Due: check, test:unit

fix: ul theming
  package.json
  pnpm-lock.yaml
  src/overrides.css
Due: check

fix: color secondary fix
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/overrides.css
Due: check

feat: ssr api for thread fetching
  package.json
  src/firebase/server/index.ts
  src/pages/api/sites/index.ts
  src/pages/api/threads/index.json.ts
  src/schemas/ThreadSchema.ts
  src/utils/server/astroApiHelpers.ts
  test/schemas/Threads.test.ts
Due: check, test:unit

feat: front page data fetching fully ssr
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/client/ThreadsApp/ThreadCard.tsx
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/server/ui/ThreadCard.astro
  src/firebase/server/index.ts
  src/pages/api/threads/index.json.ts
  src/pages/index.astro
Due: check, test:unit

fix: channel pages moved to ssr
  package.json
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/client/threads/ChannelPage/ChannelPage.tsx
  src/components/client/threads/ChannelPage/PaginationToolbar.tsx
  src/components/client/threads/ChannelPage/ThreadList.tsx
  src/components/client/threads/ChannelPage/ThreadsArticle.tsx
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/PagingToolbar.astro
  src/components/server/ChannelApp/ThreadListItem.astro
  src/locales/fi/threads.ts
  src/overrides.css
  src/pages/api/meta/channels.json.ts
  src/pages/api/threads/index.json.ts
  src/pages/channels/[channel]/[page].astro
  src/schemas/ChannelSchema.ts
  src/utils/contentHelpers.ts
  src/utils/i18n.ts
Due: check, test:unit

feat: pwa
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: biome
  astro.config.mjs
Due: check

fix: updated deps
  package.json
  pnpm-lock.yaml
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
  src/overrides.css
Due: check

fix: restored like button to forum page
  src/components/server/ChannelApp/ThreadListItem.astro
  src/overrides.css
  src/pages/api/meta/channels.json.ts
Due: check, test:unit

fix: admin page template and navigation added
  public/icons/arrow-up.afdesign
  public/icons/arrow-up.svg
  src/components/client/admin/ForumAdminApp.tsx
  src/components/client/admin/ForumAdminChannelItem.tsx
  src/components/client/admin/ForumIconSelect.tsx
  src/components/client/navigation/AdminNavigationButton.tsx
  src/components/client/shared/WithAuth.tsx
  src/components/server/AppRail.astro
  src/pages/admin/index.astro
Due: check

fix: added admin tools (behind a feature flag)
  public/icons/arrow-down.afdesign
  public/icons/arrow-down.svg
  src/components/client/admin/ForumAdminApp.tsx
  src/components/client/admin/ForumAdminChannelItem.tsx
  src/components/client/admin/ForumIconSelect.tsx
  src/components/client/admin/RepairThreadCountButton.tsx
  src/pages/admin/index.astro
  src/schemas/NotificationSchema.ts
Due: check, test:unit

fix: categories are now shown in the same manner
  src/components/client/threads/ForumPage.tsx
  src/components/client/threads/ForumTray.tsx
Due: check

fix: site tray and index loading moved to ssr
  src/components/client/SitesApp/SiteAdminActions.tsx
  src/components/client/SitesApp/SiteTocPage.tsx
  src/components/client/SitesApp/SiteTocSection.tsx
  src/components/client/SitesApp/SiteTray.tsx
  src/components/client/admin/ForumAdminApp.tsx
  src/components/client/admin/ForumAdminChannelItem.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
  src/components/client/threads/ForumPage.tsx
  src/components/server/SiteApp/SiteTray.astro
  src/locales/fi/index.ts
  src/overrides.css
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check, test:unit

fix: site polish
  src/components/server/AppBar.astro
  src/layouts/PageWithTray.astro
  src/overrides.css
  src/pages/sites/[siteKey]/index.astro
Due: none

fix: site admin uses ssr loaded site
  src/components/client/SitesApp/SiteAdminActions.tsx
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemingSection.tsx
  src/components/client/shared/WithAuth.tsx
  src/components/server/AppBar.astro
Due: check

fix: quoted thread ux, mobilie ux polish
  package.json
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/client/threads/ThreadApp/ReplySection.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/overrides.css
Due: check

fix: page fabs target the correct site
  src/components/client/SitesApp/SitesApp.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/server/SiteApp/PageApp.astro
  src/overrides.css
Due: check

fix: added workbox for test purposes
  biome.json
  package.json
  pnpm-lock.yaml
  public/sw.js
  workbox.config.cjs
Due: check, test:unit

fix: biome
  public/sw.js
Due: check, test:unit

fix: updated imports
  public/sw.js
  workbox.config.cjs
Due: check, test:unit

fix: loading the workbox too
  public/service-worker.js
  public/sw.js
  src/components/server/BaseHead.astro
  src/components/server/BaseHead/ServiceWorker.astro
  workbox.config.cjs
Due: check, test:unit

fix: cn navigation icon update
  package.json
  pnpm-lock.yaml
  src/components/server/BottomBar.astro
  src/overrides.css
Due: check

fix: site saving store bug removed
  package.json
  pnpm-lock.yaml
  src/components/client/SitesApp/SiteAdminActions.tsx
  src/components/client/SitesApp/SiteMembersApp/AddSiteMemberForm.tsx
  src/components/client/SitesApp/SiteMembersApp/SiteMembersApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/library/SitesList.tsx
  src/components/server/BaseHead/ServiceWorker.astro
  src/stores/SitesApp/index.ts
  src/stores/SitesApp/pagesStore.ts
Due: check, test:unit

fix: version in footer
  src/components/server/AppFooter.astro
Due: none

fix: small polish to styles, cache timeouts
  package.json
  pnpm-lock.yaml
  src/pages/api/sites/[siteKey]/index.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
Due: check, test:unit

chore: versioning
  package.json
Due: check

fix: deprecated sites offline-store
  src/components/client/SitesApp/CreateSiteApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/server/AppFooter.astro
  src/firebase/client/site/createSite.ts
  src/firebase/client/site/deleteSite.ts
  src/layouts/ModalPage.astro
  src/locales/fi/site.ts
  src/schemas/SiteSchema.ts
  src/stores/sitesStore/index.ts
  src/utils/client/snackUtils.ts
Due: check, test:unit

fix: updated the page editor to the new cyan version
  package.json
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/SiteApp/README.md
  src/lit-shims.d.ts
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
Due: check, test:unit

fix: updated to new app-bar from cyan
  package.json
  pnpm-lock.yaml
  src/components/server/AppBar.astro
  src/overrides.css
Due: check

fix: discussion uses component state
  package.json
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/ThreadsApp/ReplyButton.tsx
  src/components/client/ThreadsApp/ReplyDialog.tsx
  src/components/client/ThreadsApp/ThreadDiscussion.tsx
  src/locales/fi/threads.ts
  src/pages/threads/[threadKey]/index.astro
Due: check, test:unit

feat: site toc editor comp
  package.json
  pnpm-lock.yaml
  public/icons/drag.afdesign
  public/icons/drag.svg
  src/components/client/sites/SiteTocAdmin.tsx
  src/components/server/SiteApp/SiteTocSection.astro
  src/lit-shims.d.ts
  src/pages/sites/[siteKey]/toc.astro
Due: check, test:unit

fix: toc page ssr and sortable toc categories
  src/components/client/SitesApp/SiteTocMigrateSection.tsx
  src/components/client/SitesApp/SiteTocPage.tsx
  src/components/client/sites/SiteTocAdmin.tsx
  src/components/client/sites/SiteTocRegen.tsx
  src/components/server/SiteApp/SiteTocSection.astro
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/toc.astro
  src/schemas/SiteSchema.ts
  src/stores/SitesApp/recreatePageRefs.ts
Due: check, test:unit

fix: finalized toc editing tool
  src/components/client/SiteApp/SiteTocAdmin.tsx
  src/components/client/SiteApp/SiteTocRegen.tsx
  src/components/client/shared/SortableList.tsx
  src/pages/sites/[siteKey]/toc.astro
Due: check

feat: social share for threads
  public/robots.txt
  src/components/server/BaseHead.astro
  src/layouts/Page.astro
  src/pages/threads/[threadKey]/index.astro
Due: none

fix: branding and update of cyan
  package.json
  pnpm-lock.yaml
  public/favicons/favicon-256x256.png
  public/icons/arrow-left.afdesign
  public/icons/arrow-left.svg
  public/icons/fox-color.afdesign
  public/manifest.webmanifest
Due: check

fix: isolated thread app components for ssr conversion
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/pages/threads/[threadKey]/index.astro
Due: check
