Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: thread creation works as expected
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/locales/fi/actions.ts
  src/schemas/ThreadSchema.ts
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: thread deletion
  src/components/client/ThreadsApp/ConfirmThreadDeleteApp.tsx
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/locales/fi/actions.ts
  src/locales/fi/threads.ts
  src/pages/threads/[threadKey]/confirmDelete.astro
  src/stores/ThreadsApp/deleteThread.ts
  src/stores/ThreadsApp/index.ts
Due: check, test:unit

fix: mark seen works as intented
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/pages/threads/[threadKey]/edit.astro
  src/stores/ThreadsApp/index.ts
  src/stores/ThreadsApp/topics.ts
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

fix: removed debug data
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
Due: check

fix: site creation button
  src/components/client/library/SiteFabs.tsx
  src/locales/fi/actions.ts
  src/pages/library/index.astro
Due: check, test:unit

fix: sitesapp refactor
  src/components/client/SiteApp/MigrateContentPanel.tsx
  src/components/client/SiteApp/SiteApp.tsx
  src/components/client/SiteApp/SiteSettingsButton.tsx
  src/components/client/SiteApp/SiteTocMigrateSection.tsx
  src/components/client/SiteApp/SiteTocPage.tsx
  src/components/client/SiteApp/SiteTocSection.tsx
  src/components/client/SiteApp/SiteTray.tsx
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageEditor.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/client/sites/SitePoster.tsx
  src/components/client/sites/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/components/client/sites/SiteSettingsApp/ThemeImageForm.tsx
  src/stores/SitesApp/ReadMe.md
  src/stores/SitesApp/index.ts
  src/stores/SitesApp/pagesStore.ts
  src/stores/SitesApp/recreatePageRefs.ts
Due: check, test:unit

fix: sitesapp refactor
  src/components/client/SiteApp/SiteApp.tsx
  src/components/client/SiteApp/SiteSettingsButton.tsx
  src/components/client/SiteApp/SiteTocPage.tsx
  src/components/client/SiteApp/SiteTocSection.tsx
  src/components/client/SiteApp/SiteTray.tsx
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageEditor.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/client/sites/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/components/client/sites/SiteSettingsApp/ThemeImageForm.tsx
Due: check

fix: site system select refactors
  src/components/client/SitesApp/CreateSiteApp.tsx
  src/components/client/SitesApp/GameSystemSelect.tsx
  src/components/client/SitesApp/MigrateContentPanel.tsx
  src/components/client/SitesApp/PageArticle.tsx
  src/components/client/SitesApp/SiteApp.tsx
  src/components/client/SitesApp/SiteSettingsButton.tsx
  src/components/client/SitesApp/SiteTocMigrateSection.tsx
  src/components/client/SitesApp/SiteTocPage.tsx
  src/components/client/SitesApp/SiteTocSection.tsx
  src/components/client/SitesApp/SiteTray.tsx
  src/components/client/sites/PageApp/PageApp.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
  src/overrides.css
  src/pages/create/site.astro
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
  src/schemas/GameSystemSchema.ts
  src/stores/SitesApp/systemsStore.ts
  src/utils/mekanismiUtils.ts
Due: check, test:unit

fix: refactored site settings app
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemingSection.tsx
  src/components/client/SitesApp/SitesApp.tsx
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/settings.astro
Due: check

fix: site deletion redirect works as expected
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/pages/sites/[siteKey]/settings.astro
Due: check

fix: some architecture things documented
  src/content/fi/70-architecture.md
Due: none

fix: added back-arrow
  public/icons/arrow-left.svg
Due: none

fix: site creation polish
  src/components/client/SitesApp/CreateSiteApp.tsx
  src/locales/fi/site.ts
Due: check, test:unit

fix: removed a non used import
  src/components/client/SitesApp/CreateSiteApp.tsx
Due: check

chore: added playwright
  .gitignore
  e2e/example.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.js
Due: check, test:unit

fix: biome for playwright too
  e2e/example.spec.ts
Due: check, test:unit

fix: basic biome test running ok
  e2e/example.spec.ts
  e2e/front-page.spec.ts
  package.json
  src/components/server/BaseHead.astro
  src/layouts/Page.astro
  src/pages/index.astro
Due: check, test:unit

fix: updates and small polish
  package.json
  pnpm-lock.yaml
  src/overrides.css
  src/pages/login.astro
Due: check

fix: seen status works as expected for anon
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

chore: ds docs added
  src/content/fi/71-designsystem.md
Due: none

fix: site members function restore pt.1
  package.json
  pnpm-lock.yaml
  src/components/client/SitesApp/SiteTray.tsx
  src/locales/fi/site.ts
  src/overrides.css
Due: check, test:unit

fix: restored member ad/remove screen
  src/components/client/SitesApp/SiteMembersApp/AddSiteMemberForm.tsx
  src/components/client/SitesApp/SiteMembersApp/SiteMembersApp.tsx
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/members.astro
  src/stores/profilesStore/index.ts
Due: check, test:unit

fix: settings locale and debug overflow
  src/locales/fi/index.ts
  src/overrides.css
Due: check, test:unit

fix: biome
  src/locales/fi/index.ts
Due: check, test:unit

fix: small polish for mobile use
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/client/library/SiteFabs.tsx
  src/components/server/BottomBar.astro
  src/layouts/Page.astro
  src/overrides.css
Due: check

fix: empty cover to undefined in cards
  src/components/client/threads/ThreadCard.tsx
Due: check

fix: thread article onmount sets the tread seen
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
Due: check

fix: enabled e2e tests with a feature flag
  .gitignore
  e2e/auth.setup.ts
  playwright.config.ts
  src/components/client/login/PasswordLoginSection.tsx
  src/pages/login.astro
Due: check, test:unit

fix: readme polish
  README.md
Due: none

fix: added a test for thread creation
  e2e/create-thread.spec.ts
  playwright.config.ts
Due: check, test:unit

fix: front page state polish
  src/components/client/FrontPage/ThreadStream.tsx
  src/components/server/FrontPage/SyndicateStream.astro
  src/schemas/AppMetaSchema.ts
  src/schemas/SiteSchema.ts
  src/schemas/ThreadSchema.ts
  src/stores/FrontPage/TopSitesStore.ts
  src/stores/FrontPage/topThreadsStrore.ts
  src/stores/metaStore/metaStore.ts
  src/stores/profilesStore/index.ts
Due: check, test:unit

chore: update tsconfig.json
  tsconfig.json
Due: check

fix:subscriber entry is automatically created if it's missing
  src/components/client/debug.tsx
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

fix: removed extra section
  src/components/client/debug.tsx
Due: check

fix: subscribe state polish
  package.json
  pnpm-lock.yaml
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/threads/ThreadCard.tsx
  src/schemas/SubscriberSchema.ts
  src/stores/ThreadsApp/topics.ts
  src/stores/sessionStore/subscriber.ts
  src/utils/logHelpers.ts
  src/utils/schemaHelpers.ts
Due: check, test:unit

fix: session store polish
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: removed extra account infro from comps
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/client/SitesApp/CreateSiteApp.tsx
  src/components/client/SitesApp/MigrateContentPanel.tsx
  src/components/client/SitesApp/SiteMembersApp/SiteMembersApp.tsx
  src/components/client/SitesApp/SiteSettingsButton.tsx
  src/components/client/SitesApp/SiteTocMigrateSection.tsx
  src/components/client/SitesApp/SiteTray.tsx
  src/components/client/SocialApp/InboxRailButton.tsx
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/components/client/threads/ThreadApp/ReplyForm.tsx
  src/stores/SocialApp/notificationsStore.tsx
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

fix: profile loading without account type
  src/components/client/debug.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/components/client/threads/ThreadLikeButton.tsx
  src/stores/sessionStore/index.ts
  src/stores/sessionStore/profile.ts
Due: check, test:unit

fix: removed dev phase logging
  src/stores/FrontPage/TopSitesStore.ts
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
