Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: restored branding
  public/favicons/fox-ico-256.png
  public/favicons/fox-ico-512.png
  public/favicons/fox-ico-64.png
  public/favicons/fox-ico-96.png
  public/manifest.webmanifest
Due: none

fix: moved thread info to ssr
  src/components/client/ThreadsApp/ThreadActions.tsx
  src/components/client/ThreadsApp/ThreadInfoCard.tsx
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/shared/ThreadsApp/ThreadRepliesButton.tsx
  src/overrides.css
  src/pages/threads/[threadKey]/index.astro
  tsconfig.json
Due: check

fix: increase-count workaround restored for adding comments
  package.json
  src/components/client/ThreadsApp/ReplyDialog.tsx
Due: check

fix: toc follows indexing rules
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/server/SiteApp/SiteTocSection.astro
  src/overrides.css
Due: none

fix: updated styles and site toc
  package.json
  pnpm-lock.yaml
  src/overrides.css
Due: check

fix: small code quality updates
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/layouts/ModalPage.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/overrides.css
Due: check

fix: removed erroneus extra-padding on editor
  src/overrides.css
Due: none

fix: front-page polish
  src/components/client/FrontPage/ThreadCard.tsx
  src/components/client/ThreadsApp/ThreadCard.tsx
  src/components/server/FrontPage/SyndicateStream.astro
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/shared/ThreadsApp/ThreadRepliesButton.tsx
  src/overrides.css
Due: check

fix: thread editor top-bar polish
  package.json
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/components/client/threads/ThreadEditorApp/ThreadEditorTopBar.tsx
  src/overrides.css
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: small refactors and warnings added
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/ThreadApp/ReplyButton.tsx
  src/components/client/ThreadApp/ReplyDialog.tsx
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: tags functional on thread editor
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
  src/overrides.css
Due: check

fix: biome
  src/components/client/threads/ThreadEditorApp/ThreadEditorApp.tsx
Due: check

fix: tag support for threads restored
  package.json
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/pages/threads/[threadKey]/index.astro
  src/schemas/ThreadSchema.ts
Due: check, test:unit

feat: tag fetching for threads
  src/pages/api/tags/[tag].json.ts
Due: check, test:unit

feat: restored the tags page
  package.json
  pnpm-lock.yaml
  src/locales/fi/entries.ts
  src/pages/api/tags/[tag].json.ts
  src/pages/tags/[tag].astro
Due: check, test:unit

fix: libs and subsciption bugfix
  package.json
  pnpm-lock.yaml
  src/components/client/ThreadApp/Discussion.tsx
  src/pages/threads/[threadKey]/index.astro
Due: check

fix: site sort order moved to toc page
  src/components/client/SiteApp/SiteTocAdmin.tsx
  src/components/client/SiteApp/SiteTocRegen.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/toc.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: page toc update tool fixed
  package.json
  src/components/client/SiteApp/SiteTocAdmin.tsx
  src/components/client/shared/SortableList.tsx
  src/components/server/SiteApp/SiteTocSection.astro
  src/layouts/PageWithTray.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check

fix: biome
  src/components/client/shared/SortableList.tsx
Due: check

fix: restored page category selection
  src/components/client/SiteApp/PageCategorySelect.tsx
  src/components/client/SiteApp/PageEditor.tsx
  src/schemas/PageSchema.ts
Due: check, test:unit

feat: legacy formats are auto-converted (with a warning)
  src/components/client/SiteApp/PageEditor.tsx
  src/overrides.css
Due: check

fix: site creation and page edit fixes
  package.json
  src/components/client/SiteApp/CreateSiteView.tsx
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/SiteApp/SiteSystemSelect.tsx
  src/components/client/SitesApp/GameSystemSelect.tsx
  src/pages/create/site.astro
Due: check

fix: support for wikilinks restored
  package.json
  src/components/server/SiteApp/PageApp.astro
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/utils/server/contentHelpers.ts
  test/util/server/contentHelpers.test.ts
Due: check, test:unit

feat: download a site button added
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/toc/ImportExportTool.tsx
  src/components/client/SiteApp/toc/SiteTocAdmin.tsx
  src/firebase/client/site/createSiteExport.ts
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/pages.json.ts
  src/pages/sites/[siteKey]/toc.astro
  src/utils/entryConversions.ts
Due: check, test:unit

fix: page deletion restored
  package.json
  src/components/client/SiteApp/PageDeleteView.tsx
  src/components/client/SiteApp/PageEditor.tsx
  src/firebase/client/site/deletePage.ts
  src/layouts/ModalPage.astro
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/deleteConfirm.astro
  src/schemas/PageSchema.ts
Due: check, test:unit

fix: forum and main site header fixes
  src/components/server/BaseHead/BaseHead.astro
  src/locales/fi/threads.ts
  src/pages/channels/[channel]/[page].astro
  src/pages/threads/index.astro
Due: check, test:unit

fix: missing page handling for wiki restored
  src/components/client/SiteApp/CreateMissingPageSection.tsx
  src/components/client/sites/PageApp/CreatePageForm.tsx
  src/components/server/SiteApp/PageApp.astro
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/create/page.astro
  src/pages/sites/[siteKey]/index.astro
Due: check, test:unit

fix: library and create page meta tags
  src/components/client/SiteApp/CreateMissingPageSection.tsx
  src/locales/fi/library.ts
  src/pages/library/index.astro
  src/pages/sites/[siteKey]/[pageKey]/index.astro
Due: check, test:unit

chore: version bump
  package.json
Due: check

fix: create view titles
  src/content/fi/72-features.md
  src/pages/admin/index.astro
  src/pages/create/site.astro
  src/pages/create/thread.astro
Due: none

fix: thread create fabs
  package.json
  src/components/client/ThreadsApp/CreateThreadFab.tsx
  src/components/client/ThreadsApp/ForumFabs.tsx
  src/content/fi/72-features.md
  src/pages/channels/[channel]/[page].astro
  src/pages/create/thread.astro
  src/pages/threads/index.astro
Due: check

fix: settings app delete account button
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/content/fi/72-features.md
  src/locales/fi/settings.ts
  src/overrides.css
  src/pages/settings.astro
Due: check, test:unit

fix: profile username domain
  src/components/client/ProfileApp/ProfileApp.tsx
  src/components/client/ProfileCard/ProfileCard.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/shared/ProfileCard.tsx
  src/content/fi/72-features.md
  src/schemas/ProfileSchema.ts
  src/stores/profilesStore/index.ts
  src/stores/sessionStore/index.ts
  src/utils/toFid.ts
  test/util/toFid.test.ts
Due: check, test:unit

fix: discussion anchor added
  package.json
  src/components/client/ThreadApp/Discussion.tsx
Due: check

fix: page editor fixes
  src/components/client/SiteApp/PageCategorySelect.tsx
  src/components/client/SiteApp/PageEditor.tsx
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
Due: check, test:unit

feat: added asset upload and delete helpers
  package.json
  pnpm-lock.yaml
  src/content/fi/73-asset-management.md
  src/firebase/client/site/addAssetToSite.ts
  src/firebase/client/site/deleteSite.ts
  src/firebase/client/site/deleteSiteFromAssets.ts
  src/schemas/AssetSchema.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

feat: site assets route
  src/components/server/SiteApp/SiteTray.astro
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/assets.astro
  src/stores/assetStore/index.ts
Due: check, test:unit

feat: rudimentary asset management for a site
  public/icons/file-pdf.svg
  src/components/client/SiteApp/assets/AssetRowItem.tsx
  src/components/client/SiteApp/assets/FileUploadButton.tsx
  src/components/client/SiteApp/assets/SiteAssetsView.tsx
  src/components/client/SiteApp/assets/UploadAssetToSiteFab.tsx
  src/components/client/shared/WithAuth.tsx
  src/firebase/client/site/addAssetToSite.ts
  src/firebase/client/site/deleteSiteFromAssets.ts
  src/locales/fi/index.ts
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/sites/[siteKey]/assets.astro
  src/schemas/AssetSchema.ts
  src/stores/assetStore/index.ts
  src/utils/client/resizeImage.ts
Due: check, test:unit

fix: updated the styles
  package.json
  pnpm-lock.yaml
Due: check

fix: asset visibility and site theme asset uploads
  package.json
  src/components/client/SiteApp/assets/AssetRowItem.tsx
  src/components/client/SiteApp/assets/SiteAssetsView.tsx
  src/components/client/SiteApp/settings/ThemingSection.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/SitesApp/SiteSettingsApp/ThemeImageForm.tsx
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/SitePoster.astro
  src/layouts/PageWithTray.astro
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/assets.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
