Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: channel schema updates and ux polish
  public/icons/chevron-left.svg
  src/components/server/ChannelApp/ChannelApp.astro
  src/firebase/server/channel/updateOnNewThread.ts
  src/overrides.css
  src/schemas/ChannelSchema.ts
Due: check, test:unit

fix: biome
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/firebase/server/channel/updateOnNewThread.ts
  src/overrides.css
  src/schemas/ChannelSchema.ts
Due: check, test:unit

fix: sentry error on reading a profile atom while loading
  package.json
  src/docs/80-release-notes.md
  src/stores/profiles/index.ts
Due: check, test:unit

fix: biome
  src/stores/profiles/index.ts
Due: check, test:unit

fix: channel info shows latest thread and discussion
  package.json
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/server/ChannelApp/channelList/ChannelListInfoCell.astro
  src/components/server/ChannelApp/channelList/ChannelListInfoCellLoading.astro
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
  src/overrides.css
  src/pages/api/threads.json.ts
  tooling/fixCreationDates.mjs
Due: check, test:unit

fix: latest users error handling
  src/components/server/app/ActiveUsersWidget.astro
Due: none

fix: added category selection to creating a new page
  .github/copilot-instructions.md
  package.json
  src/components/server/app/ActiveUsersWidget.astro
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/create/page.astro
Due: check, test:unit

feat: login redirects and ssr login
  src/components/svelte/login/EmailLoginSection.svelte
  src/components/svelte/login/PasswordLoginSection.svelte
  src/components/svelte/login/SyndicatedLoginSection.svelte
  src/layouts/EditorPage.astro
  src/pages/api/auth/session.ts
  src/pages/create/thread.astro
  src/pages/login.astro
  src/stores/session/index.ts
  src/utils/server/auth/verifySession.ts
Due: check, test:unit

fix: locales, dry for post-login actions
  src/components/svelte/login/EmailLoginSection.svelte
  src/components/svelte/login/PasswordLoginSection.svelte
  src/components/svelte/login/SyndicatedLoginSection.svelte
  src/locales/fi/app.ts
  src/locales/fi/index.ts
  src/locales/fi/login.ts
  src/utils/client/authUtils.ts
Due: check, test:unit

fix: test case for the page creation
  e2e/create-page.spec.ts
  e2e/init-test-db.js
  package.json
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
Due: check, test:unit

fix: linter
  e2e/create-page.spec.ts
  e2e/init-test-db.js
Due: check, test:unit

feat: character builder schemas
  src/schemas/CharacterBuilderSchema.ts
  src/schemas/CharacterSheetSchema.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
  test/mocks/characterBuilderDummies.ts
  test/schemas/CharacterBuilder.test.ts
  test/schemas/CharacterSheet.test.ts
  test/util/composeCharacterFeatures.test.ts
Due: check, test:unit

feat: admin tool for managing builders route added
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/locales/en/characters.ts
  src/locales/en/index.ts
  src/locales/fi/characters.ts
  src/locales/fi/index.ts
  src/pages/admin/builder.astro
Due: check, test:unit

fix: base editor info persistence added
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/firebase/client/builders/index.ts
  src/firebase/client/builders/updateBuilder.ts
  src/locales/en/characters.ts
  src/locales/fi/actions.ts
  src/locales/fi/characters.ts
  src/schemas/CharacterBuilderSchema.ts
  test/firebase/client/builders/updateBuilder.test.ts
Due: check, test:unit

fix: irrelevant mock test
  test/firebase/client/builders/updateBuilder.test.ts
Due: check, test:unit

fix: builder editor layout polish
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderStepsForm.svelte
Due: none

fix: store based state and fs subs
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/components/svelte/builder/builderStore.ts
Due: check, test:unit

fix: refactors for the steps editor
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderStepsForm.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
  src/locales/fi/characters.ts
Due: check, test:unit

feat: steps crud and ordering in ux, no persistence
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
Due: none

fix: persist builder on add step
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
Due: none

feat: character bullder step crud and ordering
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
  src/components/svelte/builder/builderStore.ts
Due: check, test:unit

fix: basic cr(u)d and ordering for a steps features
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderFeatureItem.svelte
  src/components/svelte/builder/BuilderFeaturesList.svelte
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
  src/locales/en/characters.ts
  src/locales/fi/characters.ts
Due: check, test:unit

fix: small polish for the features editor
  src/components/svelte/builder/BuilderFeatureItem.svelte
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

fix: schema polish
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

feat: feature modifiers can be added
  src/components/svelte/builder/BuilderFeatureItem.svelte
  src/components/svelte/builder/ModifierForm.svelte
  src/locales/fi/characters.ts
  src/overrides.css
  src/schemas/CharacterBuilderSchema.ts
  test/schemas/CharacterBuilder.test.ts
  test/util/composeCharacterFeatures.test.ts
Due: check, test:unit

fix: removed deprecated materials
  src/components/svelte/builder/BuilderEditor.svelte
Due: none

fix: a modifier can be removed
  public/icons/close.svg
  src/components/svelte/builder/BuilderFeatureItem.svelte
  src/components/svelte/builder/ModifierForm.svelte
Due: none

fix: smal polish
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/overrides.css
Due: none

fix: removed dev code, now deprecated
  src/components/svelte/builder/builderStore.ts
Due: check, test:unit

fix: small polis to the store
  src/components/svelte/builder/builderStore.ts
Due: check, test:unit

fix: smalll polish to builder base
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/BuilderInfoForm.svelte
Due: none

fix: basix usability polish for internal release
  public/icons/compose.svg
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/builder/BuilderStepArticle.svelte
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

fix: added route for experimental features
  public/icons/experiment.svg
  src/components/server/AppRail.astro
  src/locales/fi/experiments.ts
  src/locales/fi/index.ts
  src/locales/fi/navigation.ts
  src/pages/experiments/index.astro
Due: check, test:unit

fix: footer link for experiments
  src/components/server/app/AppFooter.astro
  src/locales/fi/app.ts
  src/pages/experiments/index.astro
Due: check, test:unit

feat: route for experimenal character builder
  src/components/server/builder/BuilderListSection.astro
  src/components/svelte/builder/app/BuilderApp.svelte
  src/layouts/Page.astro
  src/locales/fi/characters.ts
  src/pages/builders/[builderKey].astro
  src/pages/experiments/index.astro
Due: check, test:unit

fix: added a demo for the builder.
  src/components/svelte/builder/app/BuilderApp.svelte
  src/locales/en/characters.ts
  src/locales/fi/characters.ts
  src/pages/builders/[builderKey].astro
Due: check, test:unit

fix: sheets crud
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/characterSheet/CharacterSheetList.svelte
  src/components/svelte/admin/characterSheet/SheetEditor.svelte
  src/components/svelte/admin/characterSheet/characterSheetStore.ts
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/pages/admin/sheetBuilder/index.astro
  src/pages/admin/sheets/[sheetKey].astro
  src/pages/admin/sheets/index.astro
  src/schemas/CharacterBuilderSchema.ts
  src/schemas/CharacterSheetSchema.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
Due: check, test:unit

fix: Character sheet listing ready for MVP release
  package.json
  pnpm-lock.yaml
  src/components/svelte/admin/characterSheet/CharacterSheetList.svelte
Due: check

feat: stats can be updated for a given sheet
  src/components/svelte/admin/characterSheet/CharacterSheetList.svelte
  src/components/svelte/admin/characterSheet/SheetEditor.svelte
  src/components/svelte/app/WithLoader.svelte
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

fix: schema updates
  test/schemas/CharacterSheet.test.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
