Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: channels tray ssr
  package.json
  src/components/client/threads/ForumTray.tsx
  src/components/server/ChannelApp/ChannelTray.astro
  src/docs/80-release-notes.md
  src/pages/channels/[channel]/[page].astro
  src/pages/channels/index.astro
Due: check

chore: sentry for error tracking
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/svelte/admin/AdminTray.svelte
  src/docs/80-release-notes.md
Due: check

fix: biome
  astro.config.mjs
  package.json
Due: check

fix: admin tools polish
  package.json
  src/components/client/admin/ForumAdminApp.tsx
  src/components/client/admin/ForumAdminChannelItem.tsx
  src/components/client/admin/ForumIconSelect.tsx
  src/components/client/admin/RepairThreadCountButton.tsx
  src/components/svelte/admin/AdminTray.svelte
  src/pages/admin/index.astro
Due: check

chore: sentry settings
  astro.config.mjs
Due: check

chore: biome
  astro.config.mjs
Due: check

fix: channel admin tool polish
  astro.config.mjs
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/channels/AddChannelDialog.svelte
  src/components/svelte/admin/channels/ChannelsAdmin.svelte
  src/pages/admin/channels.astro
  src/pages/admin/index.astro
  src/schemas/ChannelSchema.ts
Due: check, test:unit

fix: channel page info polish
  package.json
  src/components/server/ChannelApp/ChannelApp.astro
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
Due: check, test:unit

feat: channel info comp added
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/ChannelInfoSection.astro
  src/components/server/app/DeferredSection.astro
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
  src/pages/channels/[channel]/[page].astro
Due: check, test:unit

chore: versioning
  package.json
Due: check

fix: cyan 1 .0.14 and front page fixes
  package.json
  pnpm-lock.yaml
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/server/ui/SiteCard.astro
  src/docs/80-release-notes.md
  src/overrides.css
  src/pages/index.astro
Due: check

fix: channels app defers.
  package.json
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/docs/80-release-notes.md
  src/pages/channels/index.astro
Due: check

chore: removed depr. solid comps
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/shared/ThreadsApp/ThreadRepliesButton.tsx
  src/components/shared/WikiPageHeader.tsx
  src/pages/channels/index.astro
Due: check

fix: subscriber no longer bugs
  package.json
  src/components/svelte/frontpage/CardSubscription.svelte
  src/docs/80-release-notes.md
Due: check

fix: biome
  src/components/svelte/frontpage/CardSubscription.svelte
Due: none

fix: channel ux
  package.json
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/ChannelInfoSection.astro
  src/components/server/ChannelApp/PagingToolbar.astro
  src/components/server/ChannelApp/ThreadListItem.astro
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/threads/ThreadSubscriber.svelte
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
  src/overrides.css
Due: check, test:unit

fix: triage and 404 for ghost homepages
  src/pages/sites/[siteKey]/index.astro
Due: none

fix: reply dialog css regression
  package.json
  src/components/svelte/discussion/ReplyDialog.svelte
  src/docs/80-release-notes.md
Due: check

fix: admin state data errors fixed
  package.json
  src/components/svelte/admin/AdminNavigationButton.svelte
  src/components/svelte/threads/ThreadInfoActions.svelte
  src/docs/80-release-notes.md
  src/stores/metaStore/metaStore.ts
  src/stores/session/account.ts
  src/stores/session/index.ts
Due: check, test:unit

fix: firestore is init correctly for stores
  package.json
  src/docs/80-release-notes.md
  src/stores/site/clocksStore.ts
  src/stores/site/handouts.ts
  src/stores/site/index.ts
Due: check, test:unit

feat: forum onboarding card
  package.json
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/svelte/threads/ForumOnboardingArticle.svelte
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
  src/overrides.css
Due: check, test:unit

fix: removed extraneous solid comp
  src/components/client/SiteApp/CreateMissingPageSection.tsx
  src/components/server/SiteApp/PageApp.astro
Due: check

fix: login froms moved to svelte
  src/components/client/login/EmailLoginSection.tsx
  src/components/client/login/PasswordLoginSection.tsx
  src/components/svelte/login/EmailLoginSection.svelte
  src/components/svelte/login/PasswordLoginSection.svelte
  src/locales/fi/login.ts
  src/pages/login.astro
Due: check, test:unit

chore: release notes
  package.json
  src/docs/80-release-notes.md
Due: check

fix: authn data moved to svelte
  src/components/client/settings/SettingsApp/AuthzSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/svelte/settings/AuthnSection.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/docs/80-release-notes.md
  src/pages/index.astro
Due: check

fix: moved account removal tool to svelte
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/svelte/settings/RemoveAccountSection.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/pages/settings.astro
Due: check

fix: subscriber object is correctly init even if no messaging is on
  src/schemas/SubscriberSchema.ts
Due: check, test:unit

fix: thread editor comp deleted
  src/components/client/ThreadApp/ImagesSection.tsx
  src/components/client/ThreadApp/ThreadEditor/ImagesPreviewSection.tsx
  src/components/client/ThreadApp/ThreadEditor/TagsPreviewSection.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditorTopBar.tsx
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/docs/80-release-notes.md
  src/pages/threads/[threadKey]/edit.astro
Due: check, test:unit

fix: thread update moved to client libs
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/firebase/client/threads/updateThread.ts
  src/pages/threads/[threadKey]/edit.astro
  src/stores/ThreadsApp/updateThread.ts
Due: check, test:unit

fix: site export as markdown works again
  src/components/client/shared/CyanEditor.tsx
  src/components/client/shared/CyanToggleButton.tsx
  src/components/client/shared/ProfileAvatar.tsx
  src/docs/80-release-notes.md
  src/firebase/client/site/exportSiteAsMd.ts
Due: check, test:unit

fix: biome
  src/firebase/client/site/exportSiteAsMd.ts
Due: check, test:unit

chore: demoved deprecated code
  src/components/client/ThreadsApp/ReplyDropdown.tsx
  src/components/client/debug.tsx
Due: check

feat: images for replies
  package.json
  src/components/svelte/discussion/ReplyArticle.svelte
  src/components/svelte/discussion/ReplyDialog.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/addReply.ts
  src/schemas/ReplySchema.ts
  src/schemas/ThreadSchema.ts
Due: check, test:unit

fix: saves file as file
  src/components/svelte/discussion/ReplyDialog.svelte
  src/firebase/client/threads/addReply.ts
Due: check, test:unit

fix: biome
  src/components/svelte/discussion/ReplyDialog.svelte
  src/firebase/client/threads/addReply.ts
Due: check, test:unit

fix: moved channel fabs to svelte
  src/components/client/ThreadsApp/CreateThreadFab.tsx
  src/components/client/ThreadsApp/ForumFabs.tsx
  src/components/svelte/threads/ChannelFabs.svelte
  src/docs/80-release-notes.md
  src/pages/channels/[channel]/[page].astro
Due: check

fix: delete confirm and channel fabs on svelte
  package.json
  src/components/client/ThreadsApp/ConfirmThreadDeleteApp.tsx
  src/components/svelte/threads/ChannelFabs.svelte
  src/components/svelte/threads/ConfirmDeleteThread.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/deleteThread.ts
  src/pages/channels/[channel]/[page].astro
  src/pages/threads/[threadKey]/confirmDelete.astro
  src/schemas/ChannelSchema.ts
Due: check, test:unit

fix: thread forking on svelte
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/client/threads/ThreadApp/ImagesSection.tsx
  src/components/server/app/AppFooter.astro
  src/components/svelte/app/MarkdownContent.svelte
  src/components/svelte/thread-editor/ChannelSelect.svelte
  src/components/svelte/thread-editor/ForkThreadApp.svelte
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/components/svelte/threads/ConfirmDeleteThread.svelte
  src/pages/api/replies/[threadKey]/[replyKey].json.ts
  src/pages/api/threads.json.ts
  src/pages/api/threads/[threadKey].json.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/fork.astro
  src/schemas/ChannelSchema.ts
  src/schemas/ContentEntry.ts
  src/schemas/ThreadSchema.ts
Due: check, test:unit

fix: thread schema tests
  src/schemas/ThreadSchema.ts
  test/schemas/Threads.test.ts
Due: check, test:unit

fix: fork backlinks work again
  package.json
  src/components/server/ThreadsApp/QuoteBubble.astro
  src/components/server/ThreadsApp/ThreadArticle.astro
  src/components/svelte/thread-editor/ForkThreadApp.svelte
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
  test/util/i18n.test.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
