Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

feat: shows some initial cards for easy envs
  src/components/client/threads/ThreadCard.tsx
  src/components/client/threads/ThreadStream.tsx
  src/env.d.ts
  src/pages/index.astro
  src/schemas/ContentEntry.ts
  src/schemas/ThreadSchema.ts
  src/utils/schemaHelpers.ts
  tsconfig.json
Due: check, test:unit

fix: cleaned up state management flow for logging in
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileButton/handleLogout.ts
  src/components/client/WithLogin/WithLogin.tsx
  src/components/client/debug.tsx
  src/components/client/eula/EulaDialog.tsx
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: linter
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/debug.tsx
  src/components/client/eula/EulaDialog.tsx
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: patch for email login
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: profile/login button polish
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/RemoveAccountSection.tsx
  src/components/server/AppRail.astro
  src/overrides.css
  src/stores/sessionStore/index.ts
Due: check, test:unit

feat: authz info restored to settings
  package.json
  pnpm-lock.yaml
  src/components/client/settings/SettingsApp/AuthzSection.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/locales/fi/actions.ts
  src/locales/fi/settings.ts
  src/utils/schemaHelpers.ts
Due: check, test:unit

fix: removed fb dependency from tests
  src/locales/fi/settings.ts
  src/utils/schemaHelpers.ts
  test/util/schemaHelpers.test.ts
Due: check, test:unit

fix: syndicated login asks for email
  src/components/client/login/SyndicatedLoginSection.tsx
Due: check

fix: added profile image selection dialog
  src/components/client/media/MediaSelectDialog.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
Due: check

feat: images loaded for session purposes
  src/components/client/media/MediaSelectDialog.tsx
  src/schemas/AssetSchema.ts
  src/stores/assetStore/index.ts
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: updated deps
  package.json
  pnpm-lock.yaml
Due: check

fix: avatar select uses the popover api
  src/components/client/settings/SettingsApp/AvatarButton.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
Due: check

feat: session store functional
  package.json
  src/components/client/settings/SettingsApp/AuthzSection.tsx
  src/content/fi/04-authz.md
  src/schemas/ProfileSchema.ts
Due: check, test:unit

feat: library route and example sitelist
  src/components/client/library/SitesList.tsx
  src/components/server/AppRail.astro
  src/locales/fi/index.ts
  src/locales/fi/library.ts
  src/pages/library/index.astro
  src/schemas/ContentEntry.ts
  src/schemas/SiteSchema.ts
  src/stores/sitesStore/index.ts
Due: check, test:unit

feat: site card content
  package.json
  pnpm-lock.yaml
  public/icons/discussion.svg
  public/icons/homebrew.svg
  src/components/client/library/SitesList.tsx
  src/components/client/sites/SiteCard.tsx
  src/schemas/nouns.ts
  src/utils/schemaHelpers.ts
Due: check, test:unit

fix: no relative urls for tests
  src/utils/schemaHelpers.ts
Due: check, test:unit

fix: biome
  src/utils/schemaHelpers.ts
Due: check, test:unit

feat: site card actions row added
  package.json
  pnpm-lock.yaml
  src/components/client/sites/SiteCard.tsx
  src/schemas/SiteSchema.ts
  src/utils/contentHelpers.ts
Due: check, test:unit

fix: date tests
  test/util/contentHelpers.test.ts
Due: check, test:unit

fix: player site fetch works
  src/components/client/library/SitesList.tsx
  src/components/client/sites/SiteCard.tsx
  src/stores/assetStore/index.ts
  src/stores/sessionStore/index.ts
  src/stores/sitesStore/index.ts
  src/utils/contentHelpers.ts
Due: check, test:unit

fix: added basic site routing
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/client/sites/PageArtivle.tsx
  src/components/shared/MarkdownSection.tsx
  src/pages/sites/[siteKey]/index.astro
  src/schemas/PageSchema.ts
Due: check, test:unit

fix: page content for legacy pages added
  src/components/client/sites/PageArtivle.tsx
  src/pages/sites/[siteKey]/index.astro
  src/schemas/PageSchema.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: site routing works
  src/components/client/sites/PageArtivle.tsx
  src/components/client/sites/SitePoster.tsx
  src/components/shared/PosterSection.tsx
  src/components/shared/WikiPageHeader.tsx
  src/overrides.css
  src/pages/sites/[siteKey]/index.astro
Due: check

fix: error correction to schema
  src/schemas/AssetSchema.ts
Due: check, test:unit

fix: removed erroneus onmount on eula dialog
  src/components/client/eula/EulaDialog.tsx
Due: check

fix: login, logout, and enroll -polish
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/ProfileButton/handleLogin.ts
  src/components/server/BaseHead.astro
  src/layouts/Page.astro
  src/overrides.css
Due: check, test:unit

fix: bio is editable
  src/components/client/ProfileCard/ProfileCard.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
Due: check

fix: site loading to state
  .gitignore
  src/components/client/sites/SitePoster.tsx
  src/components/client/sites/SiteSettingsButton.tsx
  src/components/shared/PosterSection.tsx
  src/layouts/PageWithTray.astro
  src/overrides.css
  src/pages/sites/[siteKey]/index.astro
  src/stores/activeSiteStore/index.ts
  src/stores/assetStore/index.ts
Due: check, test:unit

feat: site settings panel prototype
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/firebase/client/index.ts
  src/pages/library/index.astro
  src/pages/sites/[siteKey]/settings.astro
  src/schemas/SiteSchema.ts
  src/stores/activeSiteStore/index.ts
Due: check, test:unit

fix: all site description fields work as intended
  .gitignore
  astro.config.mjs
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/locales/fi/entries.ts
  src/locales/fi/index.ts
  src/locales/fi/meta.ts
  src/locales/fi/site.ts
Due: check, test:unit

feat: siteapp structure and tray functionality
  src/components/client/sites/SiteApp/SiiteTray.tsx
  src/layouts/PageWithTray.astro
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/index.astro
Due: check, test:unit

feat: toc page added
  package.json
  pnpm-lock.yaml
  src/components/client/sites/SiteApp/SiteTocPage.tsx
  src/pages/sites/[siteKey]/toc.astro
Due: check

fix: toc page proves pages store works
  src/components/client/sites/SiteApp/SiteTocPage.tsx
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/stores/activeSiteStore/pagesStore.ts
Due: check, test:unit

fix: site homepage can be set
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
Due: check

feat: site page ordering can be set
  src/components/client/sites/SiteSettingsApp/SiteHomePageSelect.tsx
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/client/sites/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/locales/fi/entries.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

feat: siteapp supports posters.
  src/components/client/PageBackgroundPoster.tsx
  src/components/client/sites/SitePoster.tsx
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SiteSettingsApp/SiteSortOrderSelect.tsx
  src/overrides.css
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: image uiploads work for sites
  src/components/client/sites/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SiteSettingsApp/ThemeImageForm.tsx
  src/components/client/sites/SiteSettingsApp/ThemingSection.tsx
  src/firebase/client/index.ts
  src/locales/fi/actions.ts
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/overrides.css
Due: check, test:unit

fix: toggles for hidden and plain text urls
  src/components/client/sites/SiteSettingsApp/SiteMetaDataSection.tsx
  src/lit-shims.d.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: library tray item for sites
  src/components/server/library/LibraryTray.astro
  src/pages/library/index.astro
Due: none

feat: fab for adding sites
  src/components/client/library/SiteFabs.tsx
  src/components/server/FabTray.astro
  src/layouts/PageWithTray.astro
  src/locales/fi/actions.ts
  src/pages/library/index.astro
Due: check, test:unit
