Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

fix: added link to roolipelifoorumi
  src/components/server/AppFooter.astro
Due: none

fix: updated libraries
  package.json
  pnpm-lock.yaml
Due: check

fix: cyan update for better app bar support
  package.json
  pnpm-lock.yaml
  src/components/server/AppBar.astro
  src/layouts/Page.astro
  src/pages/index.astro
Due: check

fix: main page caching reset
  src/pages/index.astro
Due: none

fix: mobile app-bar title support and some short titles
  package.json
  src/layouts/ModalPage.astro
  src/layouts/PageWithTray.astro
  src/pages/admin/index.astro
  src/pages/channels/[channel]/[page].astro
  src/pages/create/site.astro
  src/pages/create/thread.astro
Due: check

fix: some additional title fixes
  src/pages/inbox/index.astro
  src/pages/library/index.astro
Due: none

fix: robots and sitemap added
  package.json
  public/robots.txt
  src/pages/sitemap.xml.ts
Due: check, test:unit

feat: added propretiary media
  .gitmodules
Due: none

feat: background-poster support for both modes
  src/components/server/AppFooter.astro
  src/components/server/ui/BackgroundPoster.astro
  src/layouts/Page.astro
  src/overrides.css
  src/pages/index.astro
Due: none

chore: ide settings
  src/pelilauta-16.code-workspace
Due: none

fix: deprecated pre-16.2.0 background components
  src/components/client/PageBackgroundPoster.tsx
  src/components/client/SitesApp/SiteSettingsApp/SiteSettingsApp.tsx
  src/components/client/sites/SitePoster.tsx
  src/components/server/SiteApp/SitePoster.astro
  src/overrides.css
  src/pelilauta-16.code-workspace
Due: check

fix: removed overrides required for old poster comps
  src/overrides.css
Due: none

fix: quick-fix for menu on top of poster on sites
  src/components/server/SiteApp/PageSidebar.astro
Due: none

fix: polish for eula
  package.json
  src/components/client/eula/EulaDialog.tsx
  src/content/fi/03-eula.md
  src/overrides.css
Due: check

fix: existing account accept works as intented
  src/components/client/eula/EulaDialog.tsx
  src/components/client/eula/NickNameInput.tsx
  src/components/client/eula/ProfileCreationCard.tsx
  src/content/fi/03-eula.md
  src/firebase/client/account/createAccount.ts
  src/firebase/client/account/updateAccount.ts
  src/firebase/client/profile/createProfile.ts
  src/firebase/client/profile/getPofileByNick.ts
  src/overrides.css
  src/stores/profilesStore/index.ts
Due: check, test:unit

fix: biome
  src/components/client/eula/EulaDialog.tsx
  src/components/client/eula/NickNameInput.tsx
  src/components/client/eula/ProfileCreationCard.tsx
  src/firebase/client/account/updateAccount.ts
  src/firebase/client/profile/getPofileByNick.ts
  src/overrides.css
Due: check, test:unit

fix: login state works correctly
  src/components/client/debug.tsx
  src/stores/sessionStore/account.ts
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: biome
  src/stores/sessionStore/account.ts
  src/stores/sessionStore/index.ts
Due: check, test:unit

fix: fid creation form ux done
  src/components/client/eula/NickNameInput.tsx
  src/components/client/eula/ProfileCreationCard.tsx
  src/content/fi/03-eula.md
  src/locales/fi/login.ts
Due: check, test:unit

fix: eula dialog checks for unique nick
  src/components/client/eula/EulaDialog.tsx
  src/components/client/eula/ProfileCreationCard.tsx
Due: check

fix: logout on eula closes the dialog
  src/components/client/eula/EulaDialog.tsx
Due: check

fix: profile is subscribed correctly
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/settings/SettingsApp/AuthzSection.tsx
  src/components/client/settings/SettingsApp/AvatarButton.tsx
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/client/threads/ThreadLikeButton.tsx
  src/components/shared/ProfileCard.tsx
  src/firebase/client/profile/getPofileByNick.ts
  src/firebase/client/profile/updateProfile.ts
  src/stores/sessionStore/account.ts
  src/stores/sessionStore/index.ts
  src/stores/sessionStore/profile.ts
Due: check, test:unit

fix: login, logout, enroll, cancel enroll tested and work
  src/components/client/ProfileButton/ProfileButton.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/eula/ProfileCreationCard.tsx
  src/components/client/navigation/ProfileButton.tsx
  src/components/server/AppRail.astro
  src/components/server/BottomBar.astro
  src/components/shared/ProfileCard.tsx
  src/stores/sessionStore/account.ts
Due: check, test:unit

fix: login, logout, enroll, cancel enroll tested and work
  src/components/client/eula/ProfileCreationCard.tsx
Due: check

fix: enrollment
  src/components/client/eula/EulaDialog.tsx
  src/locales/fi/login.ts
Due: check, test:unit

fix: additional background images added
  src/pages/library/index.astro
  src/pages/threads/index.astro
Due: none

fix: removed deprecated client side store
  src/stores/recentThreadsStore/index.ts
Due: check, test:unit

fix: removed deprecated client side stores
  src/stores/FrontPage/TopSitesStore.ts
  src/stores/FrontPage/topThreadsStrore.ts
Due: check, test:unit

fix: thread notifications moved to progressive js
  src/components/client/FrontPage/CardSubscriber.tsx
  src/components/client/FrontPage/ThreadCard.tsx
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/FrontPage/TopThreadsStream.astro
Due: check

fix: subscriber moved to composable
  src/components/client/FrontPage/CardSubscriber.tsx
  src/stores/sessionStore/subscriber.ts
Due: check, test:unit

fix: added copilot instructions
  .github/copilot-instructions.md
Due: none

fix: polish for site and page ux
  src/components/client/SiteApp/assets/SiteAssetsView.tsx
  src/components/client/SitesApp/SiteAdminActions.tsx
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/server/SiteApp/SiteTocSection.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check

fix: removed extra logging
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/SiteApp/SiteTocRegen.tsx
  src/components/client/SiteApp/toc/SiteTocAdmin.tsx
  src/components/client/SitesApp/MigrateContentPanel.tsx
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/ThreadApp/ReplyDialog.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/client/library/SitesList.tsx
  src/components/client/login/EmailLoginSection.tsx
  src/components/client/login/PasswordLoginSection.tsx
  src/components/client/shared/SortableList.tsx
  src/components/client/threads/ForkThreadApp/ForkThreadApp.tsx
  src/components/client/threads/ThreadApp/ReplyBubble.tsx
  src/firebase/client/account/updateAccount.ts
  src/firebase/client/generateUsername.ts
  src/firebase/client/profile/updateProfile.ts
  src/firebase/client/site/createSite.ts
  src/firebase/client/site/createSiteExport.ts
  src/firebase/client/site/deleteSiteFromAssets.ts
  src/firebase/client/site/updateSiteAsset.ts
  src/firebase/server/index.ts
  src/pages/api/meta/channels.json.ts
  src/pages/api/sites/index.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/fork.astro
  src/stores/SitesApp/index.ts
  src/stores/SitesApp/systemsStore.ts
  src/stores/SocialApp/notificationsStore.tsx
  src/stores/ThreadsApp/reactions.ts
  src/stores/ThreadsApp/topics.ts
  src/stores/channelStore/channelStore.ts
  src/stores/profilesStore/index.ts
  src/stores/sessionStore/index.ts
  src/stores/sessionStore/subscriber.ts
  src/utils/client/snackUtils.ts
  src/utils/server/renderAssetMarkup.ts
Due: check, test:unit

fix: regression error
  src/components/client/ThreadApp/ReplyDialog.tsx
Due: check

chore: release note polish
  src/content/fi/80-release-notes.md
Due: none

fix: small ux polish
  package.json
  pnpm-lock.yaml
  src/content/fi/80-release-notes.md
  src/layouts/PageWithTray.astro
  src/overrides.css
Due: check

fix: isolated editor comp
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/shared/CyanEditor.tsx
Due: check

fix: editor copy-paste fixed
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/client/shared/CyanEditor.tsx
  src/content/fi/80-release-notes.md
Due: check
