Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

feat: character sheet can be set on a builder
  src/components/svelte/admin/characterSheet/characterSheetStore.ts
  src/components/svelte/builder/BuilderInfoForm.svelte
  src/firebase/client/builders/updateBuilder.ts
  src/locales/en/characters.ts
  src/locales/fi/characters.ts
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

feat: create characters route
  src/components/server/characters/CharacterBuilderListSection.astro
  src/components/svelte/builder/app/BuilderApp.svelte
  src/locales/en/characters.ts
  src/locales/fi/characters.ts
  src/pages/create/character/index.astro
Due: check, test:unit

feat: character creator route
  src/locales/en/characters.ts
  src/locales/fi/characters.ts
  src/pages/create/character/[builderKey].astro
Due: check, test:unit

fix: some refactoring of character builder routes and comps
  biome.json
  src/components/server/characters/CharacterBuilderListSection.astro
  src/components/svelte/admin/characterSheet/characterSheetStore.ts
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/components/svelte/characters/builder/CharacterBuilderInfoSection.svelte
  src/components/svelte/characters/builder/CharacterBuilderMetaForm.svelte
  src/locales/fi/characters.ts
  src/pages/create/character/[builderKey].astro
  src/pages/experiments/index.astro
  src/stores/characters/sheetStore.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
  test/util/composeCharacterFeatures.test.ts
Due: check, test:unit

fix: character creation ux refactors
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/components/svelte/characters/builder/BuilderStep.svelte
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/components/svelte/characters/builder/CharacterBuilderMetaForm.svelte
  src/locales/fi/characters.ts
  src/pages/create/character/[builderKey].astro
  src/schemas/CharacterSheetSchema.ts
  src/stores/characters/sheetStore.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
  test/util/composeCharacterSheet.test.ts
Due: check, test:unit

fix: character creator polish
  src/components/svelte/builder/BuilderFeaturesList.svelte
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/schemas/CharacterBuilderSchema.ts
  src/schemas/CharacterSheetSchema.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
  test/mocks/characterBuilderDummies.ts
  test/schemas/CharacterBuilder.test.ts
  test/schemas/CharacterSheet.test.ts
  test/util/composeCharacterSheet.test.ts
Due: check, test:unit

fix: character creation state updates fixed
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/components/svelte/characters/builder/BuilderHistoryStep.svelte
  src/components/svelte/characters/builder/BuilderStep.svelte
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/stores/characters/sheetStore.ts
Due: check, test:unit

fix: support for llss type array of stats
  src/components/svelte/admin/characterBuilders/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
  src/locales/fi/actions.ts
  src/locales/fi/characters.ts
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

fix: llss-array finally works
  src/components/svelte/admin/characterSheet/CharacterSheetList.svelte
  src/components/svelte/builder/BuilderEditor.svelte
  src/components/svelte/builder/ModifierForm.svelte
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/components/svelte/characters/builder/LlssStatArrayStep.svelte
  src/locales/fi/characters.ts
Due: check, test:unit

fix: character creation testing and ux improvements
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/components/svelte/characters/builder/ChararterSheetDebug.svelte
  src/components/svelte/characters/builder/LlssStatArrayStep.svelte
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
Due: check, test:unit

fix: moved charsheets to experimens nav
  src/components/server/AppRail.astro
  src/pages/create/character/index.astro
Due: none

fix: character sheet struct editor dirty state tracking
  src/components/svelte/admin/characterSheet/CharacterStatsForm.svelte
  src/components/svelte/admin/characterSheet/SheetEditor.svelte
  src/components/svelte/admin/characterSheet/characterSheetStore.ts
  src/pages/admin/sheetBuilder/index.astro
Due: check, test:unit

feat: character sheet has statgroups
  src/components/svelte/admin/characterSheet/CharacterStatsForm.svelte
  src/components/svelte/admin/characterSheet/SheetEditor.svelte
  src/components/svelte/admin/characterSheet/StatGroupsForm.svelte
  src/components/svelte/builder/builderStore.ts
  src/firebase/client/builders/updateBuilder.ts
  src/pages/create/character/[builderKey].astro
  src/schemas/CharacterSheetSchema.ts
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
Due: check, test:unit

Feat stats can be added to stat groups
  src/components/svelte/admin/characterSheet/CharacterStatsForm.svelte
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

feat: character sheet renderer respects stat groups
  src/components/svelte/characters/CharacterSheetArticle.svelte
  src/utils/shared/characters/builder/composeCharacterFeatures.ts
Due: check, test:unit

fix: uses the new number style selects
  package.json
  pnpm-lock.yaml
  src/components/svelte/characters/builder/CharacterBuilderApp.svelte
  src/components/svelte/characters/builder/CharacterBuilderMetaForm.svelte
  src/components/svelte/characters/builder/LlssStatArrayStep.svelte
Due: check

fix: character builder supports conditional steps
  src/components/svelte/admin/characterBuilders/BuilderStepArticle.svelte
  src/components/svelte/builder/BuilderStepsSection.svelte
  src/schemas/CharacterBuilderSchema.ts
Due: check, test:unit

fix: character builder schema fixes
  src/schemas/CharacterBuilderSchema.ts
  test/schemas/CharacterBuilder.test.ts
Due: check, test:unit

chore: made a plan for the release
  src/docs/81-v17-10-plan.md
Due: none

feat: Character and Character Sheet Schema added
  src/schemas/CharacterSchema.ts
  src/schemas/CharacterSheetSchema.ts
  test/schemas/CharacterSchema.test.ts
  test/schemas/CharacterSheetSchema.test.ts
Due: check, test:unit

feat: admin routes for sheet listing
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/sheets/CharacterSheetList.svelte
  src/components/svelte/admin/sheets/SheetFabs.svelte
  src/pages/admin/sheets/index.astro
  src/schemas/CharacterSheetSchema.ts
  src/stores/characters/characterSheetStore.ts
Due: check, test:unit

fix: sheet listing ux
  src/components/svelte/admin/sheets/CharacterSheetList.svelte
Due: none

fix: sheet schema creation bugfixes
  src/components/svelte/admin/sheets/SheetFabs.svelte
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

feat: added a route for sheet editing
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/pages/admin/sheets/[sheetKey].astro
  src/stores/characters/characterSheetStore.ts
Due: check, test:unit

feat: sheet info form component added
  public/icons/undo.svg
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
  src/locales/fi/characters.ts
  src/locales/fi/index.ts
Due: check, test:unit

fix: added fields and form states to sheet info
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
Due: none

fix: sheet system uses system selector
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
Due: none

feat: stat groups crud for the sheet
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
  src/components/svelte/admin/sheets/SheetStatGroups.svelte
  src/firebase/client/characterSheets/updateCharacterSheet.ts
  src/schemas/CharacterSheetSchema.ts
  src/stores/characters/characterSheetStore.ts
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

feat: stats crud for sheets
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/SheetStats.svelte
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

feat: small sheet editor ux polish
  package.json
  pnpm-lock.yaml
  src/components/svelte/admin/sheets/SheetStats.svelte
Due: check

chore: added d20 stats as submodule
  .gitmodules
Due: none

feat: library route to character collection
  src/components/server/library/LibraryTray.astro
  src/locales/fi/library.ts
  src/pages/library/characters.astro
  src/schemas/CharacterSchema.ts
  src/stores/characters/userCharacters.ts
Due: check, test:unit

feat: character listing page
  src/components/svelte/characters/library/CharacterLibraryApp.svelte
  src/components/svelte/characters/library/CharacterLibraryFabs.svelte
  src/locales/fi/library.ts
  src/pages/library/characters.astro
Due: check, test:unit

feat: character page rudimentary functions in place
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/components/svelte/characters/CharacterSheetSelect.svelte
  src/components/svelte/characters/CreateCharacterForm.svelte
  src/components/svelte/characters/library/CharacterLibraryApp.svelte
  src/firebase/client/characters/createCharacter.ts
  src/locales/fi/actions.ts
  src/locales/fi/characters.ts
  src/locales/fi/entries.ts
  src/locales/fi/library.ts
  src/pages/characters/[characterKey].astro
  src/pages/create/character.astro
  src/schemas/CharacterSchema.ts
  src/stores/characters/characterStore.ts
  src/stores/characters/userCharacters.ts
Due: check, test:unit

feat: character sheet stats are now visible on the charsheet
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/stores/characters/userCharacters.ts
Due: check, test:unit

feat statblocks added, info ux improvements
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/locales/fi/characters.ts
  src/locales/fi/entries.ts
  src/pages/characters/[characterKey].astro
Due: check, test:unit

fix: added d20 stat proficiencies
  src/components/svelte/admin/sheets/SheetStats.svelte
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

feat: stat groups can be minimized
  src/components/svelte/admin/sheets/SheetStats.svelte
Due: none

feat: character can belong to a site
  src/components/svelte/characters/CharacterSheetSelect.svelte
  src/components/svelte/characters/CreateCharacterForm.svelte
  src/components/svelte/characters/SiteSelect.svelte
  src/locales/fi/characters.ts
  src/locales/fi/entries.ts
  src/schemas/CharacterSchema.ts
Due: check, test:unit

feat: characters to content entries
  src/schemas/CharacterSchema.ts
  test/schemas/CharacterSchema.test.ts
Due: check, test:unit
