Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

chore: no need to ts-compile lightbox dist
  tsconfig.json
Due: check

fix: 16.9.0 triage fixes to docs and locales
  src/components/server/docs/DocsTray.astro
  src/content.config.ts
  src/docs/fi/80-release-notes.md
  src/locales/fi/index.ts
  src/pages/docs/[lang]/[id].astro
  src/pages/docs/fi/[id].astro
Due: check, test:unit

chore: libs update
  package.json
  pnpm-lock.yaml
Due: check

fix: disabled docs temporarlily
  src/components/server/AppRail.astro
  src/components/server/BasePostscripts.astro
  src/content.config.ts
  src/docs/01-index.md
  src/docs/02-coc.md
  src/docs/03-eula.md
  src/docs/04-authz.md
  src/docs/10-wikisyntax.md
  src/docs/11-imports.md
  src/docs/70-architecture.md
  src/docs/71-designsystem.md
  src/docs/72-features.md
  src/docs/73-asset-management.md
  src/docs/74-feeds.md
  src/docs/80-release-notes.md
  src/firebase/server/index.ts
  src/pages/docs/fi/[id].astro
Due: check, test:unit

fix: api routing fixed
  src/pages/api/threads.json.ts
  src/pages/index.astro
Due: check, test:unit

fix: patching log security
  src/firebase/server/index.ts
Due: check, test:unit

fix: docs fixed post astro updates
  package.json
  src/components/server/AppRail.astro
  src/components/server/docs/DocsTray.astro
  src/docs/80-release-notes.md
  src/pages/docs/[id].astro
Due: check

fix: fully dynamic routes
  src/pages/docs/[id].astro
Due: none

fix: wikilinks no longer bug, library tray restored
  package.json
  src/components/server/library/LibraryTray.astro
  src/docs/80-release-notes.md
  src/pages/library/index.astro
  src/utils/server/contentHelpers.ts
  test/util/server/contentHelpers.test.ts
Due: check, test:unit

fix: removed extraneous site-add feat
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
Due: check, test:unit

feat: player tool added
  src/components/svelte/app/UserSelect.svelte
  src/components/svelte/sites/SiteOwnersTool.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/members.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

feat: site player tool added
  src/components/svelte/app/UserSelect.svelte
  src/components/svelte/sites/SiteMembersApp.svelte
  src/components/svelte/sites/SiteOwnersTool.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/components/svelte/sites/siteStore.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/members.astro
Due: check, test:unit

fix: fixed visibility to match firestore rules
  src/components/svelte/sites/SiteMembersApp.svelte
  src/components/svelte/sites/SiteOwnersTool.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
Due: check, test:unit

fix: page fabs visible to players
  src/components/client/sites/PageApp/PageFabs.tsx
  src/components/server/SiteApp/PageApp.astro
  src/components/svelte/sites/PageFabs.svelte
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
Due: check

chore: version bump
  package.json
Due: check

chore: biome does not need npx to run
  package.json
Due: check

chore: release notes
  src/docs/80-release-notes.md
Due: none

fix: user sites contain the sites user plays in
  src/stores/sitesStore/userSitesCache.ts
Due: check, test:unit

fix: story-clocks sans the cn-element
  public/icons/clock.svg
  src/components/server/SiteApp/SiteTray.astro
  src/components/svelte/sites/ClocksFabs.svelte
  src/components/svelte/sites/CreateClockApp.svelte
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/sites/[siteKey]/clocks.astro
  src/pages/sites/[siteKey]/create/clock.astro
  src/schemas/ClockSchema.ts
Due: check, test:unit

feat: clock creation ux v1
  .gitmodules
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/BaseHead.astro
  src/components/svelte/sites/CreateClockApp.svelte
  src/overrides.css
  src/pages/sites/[siteKey]/create/clock.astro
Due: check

feat: clocks can be added to a site
  public/icons/reduce.svg
  src/components/svelte/sites/CreateClockApp.svelte
  src/firebase/client/site/addClocktoSite.ts
  src/locales/fi/actions.ts
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/schemas/ClockSchema.ts
Due: check, test:unit

fix: clocks are interactive only if user is owner
  src/components/svelte/sites/Clock.svelte
  src/components/svelte/sites/ClocksApp.svelte
  src/components/svelte/sites/CreateClockApp.svelte
  src/components/svelte/sites/clocksStore.ts
  src/pages/sites/[siteKey]/clocks.astro
Due: check, test:unit

Rename addClocktoSite.ts to addClockToSite.ts
  src/firebase/client/site/addClockToSite.ts
Due: check, test:unit

feat: deleting a clock works
  src/components/client/SiteApp/toc/SiteTocAdmin.tsx
  src/components/client/SitesApp/MigrateContentPanel.tsx
  src/components/svelte/admin/User.svelte
  src/components/svelte/sites/Clock.svelte
  src/components/svelte/sites/ClocksApp.svelte
  src/components/svelte/sites/ClocksFabs.svelte
  src/components/svelte/sites/CreateClockApp.svelte
  src/components/svelte/sites/DeleteClockApp.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/components/svelte/sites/clocksStore.ts
  src/components/svelte/sites/siteStore.ts
  src/docs/80-release-notes.md
  src/firebase/client/site/deleteClock.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/clocks.astro
  src/pages/sites/[siteKey]/delete/clock/[id].astro
  src/stores/SitesApp/index.ts
  src/utils/server/contentHelpers.ts
Due: check, test:unit

fix: site tray and fab visibility
  src/components/client/SitesApp/SiteAdminActions.tsx
  src/components/server/SiteApp/SiteTray.astro
  src/components/svelte/sites/PageFabs.svelte
  src/components/svelte/sites/SiteAdminActions.svelte
Due: check

chore: release notes
  package.json
  src/docs/80-release-notes.md
Due: check

fix: updated cyan and other libs
  package.json
  pnpm-lock.yaml
  src/docs/80-release-notes.md
Due: check

fix: clock-link can be hidden as an option
  package.json
  src/components/server/SiteApp/SiteTray.astro
  src/components/svelte/sites/ClocksAction.svelte
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/sites/SiteAdminActions.svelte
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/pages/sites/[siteKey]/options.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: added option for secrets. disabled for now.
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/locales/fi/site.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: lib updates, release notes, and versioning
  package.json
  pnpm-lock.yaml
  src/docs/80-release-notes.md
Due: check

fix: firebase vercel fix
  package.json
  src/firebase/server/index.ts
  src/locales/fi/site.ts
Due: check, test:unit

fix: client side for store
  package.json
  src/components/server/SiteApp/SiteTray.astro
  src/components/server/app/AppFooter.astro
  src/docs/80-release-notes.md
Due: check

fix: added handout schema with readers acl field
  src/schemas/ContentEntry.ts
  src/schemas/HandoutSchema.ts
Due: check, test:unit

feat: handouts-route added
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/handouts/index.astro
Due: check, test:unit

fix: handouts default view added
  src/components/svelte/sites/HandoutsApp.svelte
  src/locales/fi/index.ts
  src/pages/sites/[siteKey]/handouts/index.astro
  src/pelilauta-16.code-workspace
Due: check, test:unit

fix: isolated handout auth to relevant comps
  src/components/svelte/app/WithAuth.svelte
  src/components/svelte/sites/HandoutsApp.svelte
  src/components/svelte/sites/MembersOnly.svelte
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
