Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

feat: site link for characters
  src/components/shared/CharacterCard.svelte
  src/components/svelte/characters/library/CharacterLibraryApp.svelte
  src/components/svelte/settings/AuthnSection.svelte
  src/components/svelte/settings/ProfileTool.svelte
  src/locales/fi/library.ts
  src/locales/fi/navigation.ts
Due: check, test:unit

fix: character cards are shared across the app
  src/components/shared/CharacterCard.svelte
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
Due: none

fix: store polish
  src/stores/characters/userCharacters.ts
  src/stores/userSites/index.ts
Due: check, test:unit

feat: character markdown can be edited
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterArticle.svelte
  src/components/svelte/characters/CharacterEditorApp/CharacterEditorApp.svelte
  src/locales/fi/characters.ts
  src/pages/characters/[characterKey]/edit.astro
  src/pages/characters/[characterKey]/index.astro
  src/stores/characters/characterStore.ts
Due: check, test:unit

feat: character deletion
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/components/svelte/characters/ConfirmCharacterDeletion.svelte
  src/components/svelte/characters/CreateCharacterForm.svelte
  src/locales/en/characters.ts
  src/locales/en/entries.ts
  src/locales/en/index.ts
  src/locales/fi/characters.ts
  src/pages/api/characters/[characterKey].ts
  src/pages/api/characters/index.ts
  src/pages/characters/[characterKey]/delete.astro
Due: check, test:unit

fix: copilot review
  src/components/svelte/characters/ConfirmCharacterDeletion.svelte
  src/components/svelte/settings/AuthnSection.svelte
Due: none

chore: release notes and versioning
  package.json
  src/docs/80-release-notes.md
Due: check

fix: reaction button works even if the reactions entry has not been init
  package.json
  src/components/svelte/app/ReactionButton.svelte
  src/docs/80-release-notes.md
  src/firebase/client/reactions.ts
  src/locales/en/character.ts
  src/locales/fi/character.ts
  src/pages/api/reactions/index.ts
  test/schemas/ReactionsAPI.test.ts
Due: check, test:unit

fix: linter
  src/components/svelte/app/ReactionButton.svelte
  src/firebase/client/reactions.ts
  src/pages/api/reactions/index.ts
  test/schemas/ReactionsAPI.test.ts
Due: check, test:unit

fix: initiate subscribers based on owners
  src/pages/api/reactions/index.ts
Due: check, test:unit

fix: copilot peer reviews resolved
  src/pages/api/reactions/index.ts
  test/schemas/ReactionsAPI.test.ts
Due: check, test:unit

fix: disable sentry in dev
  astro.config.mjs
Due: check

chore: change docs and versioning
  package.json
  src/docs/80-release-notes.md
Due: check

feat: site links for references
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/components/svelte/characters/CharacterCard.svelte
  src/components/svelte/characters/library/CharacterLibraryApp.svelte
  src/components/svelte/sites/SiteLink.svelte
  src/docs/80-release-notes.md
  src/stores/sites/index.ts
  src/stores/sites/sitesStore.ts
Due: check, test:unit

fix: copilot reviews
  package.json
  src/docs/80-release-notes.md
  src/stores/sites/sitesStore.ts
Due: check, test:unit

chore: veresion 17.12 planned changes list
  src/docs/81-planned-changes.md
Due: none

feat: sites can have characters
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/docs/80-release-notes.md
  src/locales/en/index.ts
  src/locales/en/site.ts
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/characters.json.ts
  src/pages/sites/[siteKey]/characters.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: reviews
  src/docs/81-planned-changes.md
Due: none

feat: character creation fab for site characters
  package.json
  src/components/svelte/characters/CharactersFab.svelte
  src/components/svelte/characters/CreateCharacterForm.svelte
  src/components/svelte/characters/SiteSelect.svelte
  src/docs/80-release-notes.md
  src/docs/81-planned-changes.md
  src/pages/create/character.astro
  src/pages/sites/[siteKey]/characters.astro
Due: check

fix: character background if site is set
  package.json
  src/components/svelte/characters/CharacterApp/CharacterArticle.svelte
  src/docs/80-release-notes.md
  src/firebase/server/characters/getCharacter.ts
  src/pages/api/reactions/index.ts
  src/pages/api/sites/[siteKey]/characters.json.ts
  src/pages/characters/[characterKey]/index.astro
  src/pages/sites/[siteKey]/characters.astro
Due: check, test:unit

fix: base structure in place
  src/components/svelte/sites/import/ImportApp.svelte
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/import.astro
  src/stores/site/importsStore.ts
Due: check, test:unit

fix: restored base functionality
  src/components/svelte/sites/import/ImportApp.svelte
  src/components/svelte/sites/import/PreviewImport.svelte
  src/components/svelte/sites/import/UploadFilesForm.svelte
  src/locales/fi/site.ts
  src/stores/site/importsStore.ts
  src/stores/site/index.ts
Due: check, test:unit

fix: site data upload workd
  package.json
  src/components/svelte/sites/data/SiteDataApp.svelte
  src/components/svelte/sites/import/PreviewImport.svelte
  src/components/svelte/sites/import/UploadFilesForm.svelte
  src/docs/80-release-notes.md
  src/overrides.css
  src/stores/site/importsStore.ts
Due: check, test:unit

fix: nitpicks
  src/components/svelte/sites/import/UploadFilesForm.svelte
  src/docs/80-release-notes.md
Due: none

feat: custom sidebars
  package.json
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/components/svelte/sites/SitePageSelect.svelte
  src/docs/80-release-notes.md
  src/locales/en/site.ts
  src/locales/fi/site.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: locale polish
  src/locales/fi/site.ts
Due: check, test:unit

fix: biome
  src/locales/fi/site.ts
Due: check, test:unit

fix: sidebar ux polish
  package.json
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/overrides.css
Due: check, test:unit

fix: early testing, biome broken
  .gitmodules
  biome.json
  lefthook.yml
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/app/BottomBar.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
Due: check

fix: refactored profile tag rendering to a marked extension
  src/utils/server/renderProfileTags.ts
  src/utils/server/wiki/renderWikiContent.ts
  src/utils/shared/getMarked.ts
  src/utils/shared/marked/createProfileTagExtension.ts
  test/util/getMarked.test.ts
Due: check, test:unit

fix: biome
  src/utils/shared/getMarked.ts
  src/utils/shared/marked/createProfileTagExtension.ts
Due: check, test:unit

fix: known errors persist
  test/util/getMarked.test.ts
Due: check, test:unit

fix: profile tags are resolved correctly
  package.json
  src/docs/80-release-notes.md
  src/utils/shared/marked/createProfileTagExtension.ts
  test/util/createProfileTagExtension.test.ts
  test/util/getMarked.test.ts
Due: check, test:unit

fix: tests do not descend to subrepo level
  vitest.config.js
Due: check, test:unit

fix: small time semantic fixes to conform to cyan 4
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
Due: none

fix: more cyan-4 prototype testing in place
  src/components/server/AppRail.astro
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/components/server/app/BottomBar.astro
  src/components/svelte/admin/AdminNavigationButton.svelte
  src/layouts/Page.astro
Due: none

fix: more cyan-4 proto testing and triage
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
  src/overrides.css
Due: none

fix: user site list overrides removed
  src/components/svelte/site-library/UserSitesList.svelte
  src/layouts/PageWithTray.astro
Due: none
