Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

fix: pre-release polish and fixes
  src/components/client/ThreadsApp/ConfirmReplyDeleteApp.tsx
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/discussion/ReplyDeleteSection.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/deleteReply.ts
  src/locales/fi/threads.ts
  src/pages/threads/[threadKey]/replies/[replyKey]/delete.astro
  src/schemas/ReactionsSchema.ts
  src/stores/ThreadsApp/deleteReply.ts
Due: check, test:unit

fix: reaction, subscription and notification polish
  package.json
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/discussion/DiscussionSection.svelte
  src/stores/subscription/index.ts
Due: check, test:unit

chore: release versioning
  package.json
Due: check

fix: onboarding margin fix
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/svelte/frontpage/OnboardingCard.svelte
  src/docs/80-release-notes.md
Due: none

fix: thread creator comments can be loved
  package.json
  src/components/svelte/discussion/ReplyDialog.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/addReply.ts
Due: check, test:unit

feat: copy asset tag to clipboard
  package.json
  public/icons/copy-md.svg
  src/components/svelte/sites/AssetArticle.svelte
  src/components/svelte/sites/data/SiteDataApp.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
Due: check, test:unit

chore: removed deprecated solid-js comps
  src/components/client/SitesApp/SiteTocSection.tsx
  src/components/client/navigation/ProfileButton.tsx
  src/components/client/threads/ThreadApp/ReplySection.tsx
  src/components/client/threads/ThreadApp/ThreadApp.tsx
  src/components/client/threads/ThreadApp/ThreadArticle.tsx
  src/components/server/BottomBar.astro
  src/components/server/ChannelApp/ThreadListItem.astro
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/ThreadsApp/ThreadInfoSection.astro
Due: check

chore: change notes
  src/docs/80-release-notes.md
Due: none

fix: updated design system
  package.json
  pnpm-lock.yaml
  src/components/client/SiteApp/PageCategorySelect.tsx
  src/components/client/settings/SettingsApp/AvatarButton.tsx
  src/docs/80-release-notes.md
Due: check

fix: removed deprecated link to import
  src/components/client/SiteApp/toc/ImportExportTool.tsx
  src/pages/sites/[siteKey]/toc.astro
Due: check

fix: removed deprecated solid comp
  src/components/client/SiteApp/SiteSystemSelect.tsx
Due: check

fix: create page with autogen-urls works
  package.json
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
Due: check

fix: create page form and reaction button polish
  package.json
  pnpm-lock.yaml
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
Due: check

chore: fixed release num
  package.json
Due: check

fix: page delete confirmation moved to svelte
  package.json
  src/components/client/SiteApp/PageDeleteView.tsx
  src/components/client/SiteApp/README.md
  src/components/client/SiteApp/SiteTocRegen.tsx
  src/components/client/SiteApp/toc/SiteTocAdmin.tsx
  src/components/svelte/sites/DeletePageView.svelte
  src/components/svelte/sites/settings/SettingsApp.svelte
  src/components/svelte/sites/settings/SiteTocRegenSection.svelte
  src/docs/80-release-notes.md
  src/firebase/client/site/regenerateSiteToc.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/delete.astro
Due: check, test:unit

fix: removed extra logging
  src/stores/subscription/index.ts
Due: check, test:unit

chore: release notes
  src/docs/80-release-notes.md
Due: none

chore: removed dead code
  src/components/client/SiteApp/PageDeleteView.tsx
Due: check

fix: moved site toc tooling to svelte
  package.json
  src/components/client/SiteApp/toc/SiteTocAdmin.tsx
  src/components/client/shared/SortableList.tsx
  src/components/server/SiteApp/SiteTocApp.astro
  src/components/svelte/app/SvelteSortableList.svelte
  src/components/svelte/sites/toc/SiteCategoriesTool.svelte
  src/components/svelte/sites/toc/SiteTocSettingsLink.svelte
  src/components/svelte/sites/toc/SiteTocTool.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/toc/index.astro
  src/pages/sites/[siteKey]/toc/settings.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: asset upload fab in svelte
  package.json
  src/components/client/SiteApp/assets/UploadAssetToSiteFab.tsx
  src/components/svelte/sites/assets/UploadAssetFab.svelte
  src/docs/80-release-notes.md
  src/pages/sites/[siteKey]/assets/index.astro
Due: check

fix: asset editor moved to ssr and-or svelte
  src/components/client/SiteApp/assets/AssetEditorForm.tsx
  src/components/server/SiteApp/AssetEditor.astro
  src/components/svelte/sites/assets/AssetEditor.svelte
  src/components/svelte/sites/assets/AssetMetadataForm.svelte
  src/components/svelte/sites/assets/LicenseSelect.svelte
  src/docs/80-release-notes.md
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/assets/[assetName].astro
Due: check, test:unit

chore: deleted dead code
  src/components/client/SiteApp/assets/LicenseSelect.tsx
Due: check

FIX: syndicated login moved to svelte
  .github/copilot-instructions.md
  package.json
  pnpm-lock.yaml
  src/components/client/login/SyndicatedLoginSection.tsx
  src/components/svelte/login/SyndicatedLoginSection.svelte
  src/docs/80-release-notes.md
  src/pages/login.astro
Due: check

fix: withauth and cyan fixes
  package.json
  pnpm-lock.yaml
  src/components/svelte/app/WithAuth.svelte
  src/docs/80-release-notes.md
  src/overrides.css
Due: check

fix: front page channels link and cyan updates
  package.json
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/server/app/AppFooter.astro
  src/docs/80-release-notes.md
  src/overrides.css
Due: check

FEAT: licenses for site text content
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/PageArticleFooter.astro
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: versioning for the release
  package.json
Due: check

FEAT: admin can now post to bsky as the app
  package.json
  pnpm-lock.yaml
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/SocialMediaPoster.svelte
  src/docs/80-release-notes.md
  src/firebase/client/apiClient.ts
  src/firebase/server/index.ts
  src/pages/admin/messaging.astro
  src/pages/api/bsky/skeet.ts
  src/utils/server/bsky/bskyService.ts
Due: check, test:unit

FEAT: new threads are reposted at bsky
  package.json
  src/components/client/ThreadApp/ThreadEditor/ThreadEditor.tsx
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/docs/80-release-notes.md
  src/firebase/client/threads/addThread.ts
Due: check, test:unit

FIX: added feature flag for bsky, to avoid extra posts on bsky
  src/docs/03-eula.md
  src/docs/74-feeds.md
  src/pages/api/bsky/skeet.ts
Due: check, test:unit

fix: thread reactions object is created at thread create
  package.json
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/addThread.ts
Due: check, test:unit

chore: updated cyan
  package.json
  pnpm-lock.yaml
  src/docs/80-release-notes.md
Due: check

chore: lib updates
  package.json
  pnpm-lock.yaml
Due: check

chore: lint
  package.json
Due: check

fix: moderator shorthand for sharing content
  .github/copilot-instructions.md
  package.json
  src/components/client/ThreadsApp/ThreadActions.tsx
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/components/svelte/threads/ThreadInfoActions.svelte
  src/docs/80-release-notes.md
  src/locales/fi/threads.ts
Due: check, test:unit

fix: skeet env param fixed
  package.json
  src/pages/api/bsky/skeet.ts
Due: check, test:unit

fix: submit shennigan
  src/components/svelte/threads/ThreadInfoActions.svelte
Due: none

fix: locales
  package.json
  src/components/svelte/threads/ThreadInfoActions.svelte
  src/locales/fi/actions.ts
Due: check, test:unit

chore: removed the feature flag
  src/pages/api/bsky/skeet.ts
Due: check, test:unit

fix: biome
  src/pages/api/bsky/skeet.ts
Due: check, test:unit
