Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: page editor microtransactions
  package.json
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/docs/80-release-notes.md
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
Due: check

chore: syntax highlighting from cn-editor update
  package.json
  pnpm-lock.yaml
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/docs/80-release-notes.md
Due: check

fix: page history coercion correct
  package.json
  src/docs/80-release-notes.md
  src/schemas/PageSchema.ts
Due: check, test:unit

fix: patched editor area max-height
  package.json
  src/docs/80-release-notes.md
  src/overrides.css
Due: check

chore: caching of active uids
  src/pages/api/accounts/active.json.ts
Due: check, test:unit

fix: page route handling
  package.json
  src/docs/80-release-notes.md
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/schemas/SiteSchema.ts
  src/utils/server/wiki/renderWikiContent.ts
Due: check, test:unit

fix: editor comps are not loaded when they are not needed
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/BaseHead/EditorHead.astro
  src/components/server/app/Snackbar.astro
  src/docs/80-release-notes.md
  src/layouts/EditorPage.astro
  src/locales/fi/threads.ts
  src/pages/create/thread.astro
  src/pages/sites/[siteKey]/[pageKey]/edit.astro
  src/pages/sites/[siteKey]/handouts/[id]/edit.astro
  src/pages/threads/[threadKey]/edit.astro
Due: check, test:unit

chore: removed the deprecated solid comps and redirects
  .github/copilot-instructions.md
  package.json
  src/components/client/SiteApp/assets/FileUploadButton.tsx
  src/components/client/SiteApp/import/ImportFolder.tsx
  src/components/client/SiteApp/import/ImportForm.tsx
  src/components/client/SiteApp/import/ImportPreview.tsx
  src/components/client/shared/ProfileLink.tsx
  src/components/client/shared/WithAuth.tsx
  src/components/client/shared/WithLoader.tsx
  src/pages/sites/[siteKey]/handouts/[id]/edit.astro
  src/pages/sites/[siteKey]/import-folder.astro
  tsconfig.json
Due: check

fix: grafefull handling of firestore errors in get sites
  package.json
  src/docs/80-release-notes.md
  src/pages/api/sites/index.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: lockfile cleanup
  pnpm-lock.yaml
Due: none

fix: removed shared solid comps
  astro.config.mjs
  src/components/server/FrontPage/ThreadCard.astro
  src/components/shared/MarkdownSection.tsx
  src/components/shared/MarkdownSnippetSection.tsx
  src/components/shared/PosterSection.tsx
  src/components/shared/ProfileCard.tsx
Due: check

chore: removed a deprecated store
  src/stores/channelStore/channelStore.ts
Due: check, test:unit

chore: updated cyan and cyan editor
  package.json
  pnpm-lock.yaml
Due: check

chore: thread card fixes
  package.json
  src/components/server/FrontPage/ThreadCard.astro
Due: check

chore: more cn-editor beta updates
  package.json
  pnpm-lock.yaml
Due: check

chore: biome
  package.json
Due: check

fix: site saving polish
  package.json
  public/icons/save.svg
  src/components/svelte/page-editor/PageEditorForm.svelte
Due: check

fix: small ui polish
  package.json
  pnpm-lock.yaml
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
  src/docs/80-release-notes.md
  src/layouts/EditorPage.astro
  src/overrides.css
Due: check

fix: ui polish
  src/components/server/profile/ProfileApp.astro
  src/components/server/profile/ProfileSiteList.astro
  src/components/server/profile/ProfileSiteListPlaceholder.astro
  src/components/server/ui/SiteCard.astro
  src/overrides.css
Due: none

fix: fromsite used correctly
  src/components/server/profile/ProfileSiteListPlaceholder.astro
Due: none

feat: page revision sub-schema added for pages
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/PageArticleFooter.astro
  src/components/svelte/sites/CreatePageForm.svelte
  src/firebase/client/site/addPage.ts
  src/firebase/client/site/createSiteExport.ts
  src/firebase/client/site/setPage.ts
  src/firebase/client/site/updatePage.ts
  src/pages/api/sites/[siteKey]/pages.json.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/pages/sites/[siteKey]/[pageKey]/delete.astro
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/schemas/ContentEntry.ts
  src/schemas/PageSchema.ts
  src/utils/siteUtils.ts
  test/util/generateFrontpage.test.ts
Due: check, test:unit

MAJOR: api broken for pages
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/HistoryApp/PageDiffs.astro
  src/components/server/SiteApp/HistoryApp/PageHistorySidebar.astro
  src/components/server/SiteApp/PageArticleFooter.astro
  src/firebase/client/site/addPageRevision.ts
  src/firebase/client/site/updatePage.ts
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey]/index.ts
  src/pages/sites/[siteKey]/[pageKey]/history/[steps].astro
  src/pages/sites/[siteKey]/index.astro
  src/schemas/PageSchema.ts
Due: check, test:unit

fix: biome
  src/components/server/SiteApp/HistoryApp/PageHistorySidebar.astro
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/history/[steps].astro
Due: check, test:unit

fix: page schema helper and creation snacks
  package.json
  src/components/svelte/sites/CreatePageForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/schemas/ContentEntry.ts
  src/schemas/PageSchema.ts
  src/utils/siteUtils.ts
  test/schemas/Page.test.ts
Due: check, test:unit

fix: cn-avatar updates from ds
  package.json
  pnpm-lock.yaml
  src/components/svelte/app/AvatarLink.svelte
Due: check

fix: flex-box polish
  package.json
  pnpm-lock.yaml
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/discussion/ReplyArticle.svelte
  src/overrides.css
Due: check

fix: biome
  package.json
  src/overrides.css
Due: check

fix: channels page moved to grid
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/server/ChannelApp/ChannelsList.astro
Due: check

fix: last flex-box shennigans
  src/components/server/SiteApp/SiteTray.astro
  src/components/svelte/sites/OptionalAppLinks.svelte
Due: none

fix: more cyan polish
  package.json
  pnpm-lock.yaml
  src/components/server/library/LibraryTray.astro
  src/components/svelte/sites/settings/SiteThemeImageInput.svelte
  src/overrides.css
Due: check

fix: site ux polish
  package.json
  src/components/server/AppBar.astro
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/page/PageArticle.astro
  src/components/server/SiteApp/page/PageArticleFooter.astro
  src/docs/80-release-notes.md
  src/locales/fi/actions.ts
  src/overrides.css
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
Due: check, test:unit

feat: route for history view
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/svelte/eula/EulaDialog.svelte
  src/components/svelte/sites/history/PageHistoryApp.svelte
  src/components/svelte/sites/history/PageHistoryArticle.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/[pageKey]/history.astro
  src/schemas/PageSchema.ts
Due: check, test:unit

fix: rudimentary page history works
  src/components/svelte/sites/history/PageHistoryApp.svelte
  src/components/svelte/sites/history/PageHistoryArticle.svelte
  src/components/svelte/sites/history/PageHistoryIndex.svelte
  src/pages/sites/[siteKey]/[pageKey]/history.astro
Due: none

fix: Entry schema cleanup
  package.json
  src/docs/80-release-notes.md
  src/schemas/ContentEntry.ts
  src/schemas/EntrySchema.ts
  src/schemas/SiteSchema.ts
  src/utils/client/entryUtils.ts
  src/utils/client/toFirestoreEntry.ts
  src/utils/schemaHelpers.ts
  test/schemas/Entry.test.ts
Due: check, test:unit

fix: top sites stream error handling
  package.json
  src/components/server/FrontPage/TopSitesStream.astro
  src/docs/76-sites.md
  src/docs/80-release-notes.md
Due: check

fix: moved page history out of the main doc
  src/components/svelte/page-editor/submitPageUpdate.ts
  src/components/svelte/sites/CreatePageForm.svelte
  src/components/svelte/sites/CreateSiteForm.svelte
  src/docs/76-sites.md
  src/docs/80-release-notes.md
  src/firebase/client/page/addPage.ts
  src/firebase/client/page/addPageRef.ts
  src/firebase/client/page/addPageRevision.ts
  src/firebase/client/page/setPage.ts
  src/firebase/client/page/updatePage.ts
  src/firebase/client/page/updatePageRef.ts
  src/firebase/client/page/updatePageTags.ts
  src/firebase/client/site/updatePage.ts
  src/schemas/PageHistorySchema.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: versioning
  package.json
Due: check

fix: patching page saving
  package.json
  src/firebase/client/page/addPageRevision.ts
  src/schemas/PageSchema.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
