Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

fix: patched in-site-links
  package.json
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/docs/80-release-notes.md
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/schemas/HandoutSchema.ts
  test/util/server/contentHelpers.test.ts
Due: check, test:unit

fix: moved site stores to stores
  src/components/svelte/sites/Clock.svelte
  src/components/svelte/sites/ClocksApp.svelte
  src/components/svelte/sites/DeleteClockApp.svelte
  src/components/svelte/sites/HandoutList.svelte
  src/components/svelte/sites/HandoutsApp.svelte
  src/components/svelte/sites/HandoutsFabs.svelte
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/sites/SiteMembersApp.svelte
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/components/svelte/sites/SiteOwnersTool.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/locales/fi/actions.ts
  src/locales/fi/site.ts
  src/pages/sites/[siteKey]/handouts/index.astro
  src/schemas/ContentEntry.ts
  src/stores/site/clocksStore.ts
  src/stores/site/handouts.ts
  src/stores/site/index.ts
Due: check, test:unit

fix: view handout route
  src/components/svelte/sites/CreateHandout.svelte
  src/components/svelte/sites/HandoutList.svelte
  src/locales/fi/actions.ts
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/pages/api/sites/[siteKey]/handouts/[handoutKey].json.ts
  src/pages/sites/[siteKey]/create/handout.astro
  src/pages/sites/[siteKey]/handouts/[id].astro
Due: check, test:unit

feat: handout view route
  src/components/server/SiteApp/HandoutApp.astro
  src/pages/api/sites/[siteKey]/handouts/[handoutKey].json.ts
  src/pages/sites/[siteKey]/handouts/[id].astro
Due: check, test:unit

feat: handout editor route
  src/components/svelte/sites/HandoutEditor.svelte
  src/components/svelte/sites/HandoutFabs.svelte
  src/pages/sites/[siteKey]/handouts/[id]/edit.astro
  src/pages/sites/[siteKey]/handouts/[id]/index.astro
Due: none

fix: pre-release polish for handouts
  package.json
  pnpm-lock.yaml
  src/components/svelte/sites/HandoutEditor.svelte
  src/components/svelte/sites/HandoutList.svelte
  src/layouts/PageWithTray.astro
  src/locales/fi/site.ts
  src/overrides.css
  src/stores/site/handouts.ts
Due: check, test:unit

chore: updated release notes
  src/docs/80-release-notes.md
Due: none

fix: eula moved to svelte, fixed blinking eula
  .gitignore
  src/components/client/debug.tsx
  src/components/client/eula/EulaDialog.tsx
  src/components/client/eula/NickNameInput.tsx
  src/components/client/eula/ProfileCreationCard.tsx
  src/components/server/BasePostscripts.astro
  src/components/server/BaseTail.astro
  src/components/svelte/eula/EulaDialog.svelte
  src/components/svelte/eula/NickNameInput.svelte
  src/firebase/server/index.ts
  src/layouts/ModalPage.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/pages/api/sites/[siteKey]/handouts/[handoutKey].json.ts
  src/stores/session/account.ts
  src/stores/session/index.ts
  src/stores/site/handouts.ts
Due: check, test:unit

fix: eula moved to svelte, fixed blinking eula
  package.json
  src/docs/80-release-notes.md
Due: check

fix: public profile preview moved to svelte
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/server/profile/ProfileArticle.astro
  src/components/shared/ProfileSection.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/pages/settings.astro
Due: check

fix: Avatar upload tool fixed
  package.json
  src/components/client/settings/SettingsApp/PublicProfileTool.tsx
  src/components/client/settings/SettingsApp/SettingsApp.tsx
  src/components/svelte/settings/ProfileTool.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/docs/80-release-notes.md
  src/firebase/client/profile/uploadAvatar.ts
  src/locales/fi/settings.ts
Due: check, test:unit

fix: more settings refactors to svelte
  .github/copilot-instructions.md
  package.json
  src/components/client/settings/SettingsApp/ProfileSection.tsx
  src/components/svelte/settings/Actions.svelte
  src/components/svelte/settings/ProfileTool.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/locales/fi/entries.ts
  src/locales/fi/settings.ts
Due: check, test:unit

fix: admin tools visivility in prod and local
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/SitesAdmin.svelte
  src/docs/80-release-notes.md
  src/pages/admin/index.astro
  src/pages/admin/sites.astro
  src/pages/admin/users.astro
  src/schemas/AccountSchema.ts
Due: check, test:unit

fix: handout editor save opens the view page
  package.json
  src/components/svelte/app/AvatarLink.svelte
  src/components/svelte/sites/HandoutEditor.svelte
  src/docs/80-release-notes.md
Due: check

fix: asset list ported to svelte and ux update
  package.json
  public/icons/pdf.svg
  src/components/client/SiteApp/assets/AssetRowItem.tsx
  src/components/client/SiteApp/assets/SiteAssetsView.tsx
  src/components/svelte/sites/AssetArticle.svelte
  src/components/svelte/sites/AssetList.svelte
  src/docs/80-release-notes.md
  src/firebase/client/site/deleteSiteFromAssets.ts
  src/pages/sites/[siteKey]/assets/index.astro
Due: check, test:unit

chore: deleted dead code
  src/components/client/SitesApp/SiteMembersApp/AddSiteMemberForm.tsx
  src/components/client/SitesApp/SiteMembersApp/SiteMembersApp.tsx
Due: check

chore: removed dead code
  src/components/client/PageApp/PageArticleFooter.tsx
  src/components/client/SitesApp/PageArticle.tsx
  src/components/client/sites/PageApp/PageArticleHeader.tsx
Due: check

fix: missing page urlencoded correctly
  package.json
  src/docs/80-release-notes.md
  src/pages/sites/[siteKey]/[pageKey]/index.astro
Due: check

chore: removed dead code
  src/components/client/SiteApp/PageEditor.tsx
  src/components/client/sites/PageApp/PageSidebar.tsx
Due: check

fix: enroll dialog opens for email-login
  package.json
  src/components/client/SitesApp/SiteSettingsApp/DangerZoneSection.tsx
  src/components/client/ThreadApp/Discussion.tsx
  src/components/client/ThreadApp/ReplyDialog.tsx
  src/components/svelte/eula/EulaDialog.svelte
  src/components/svelte/eula/NickNameInput.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/components/svelte/sites/CreateHandout.svelte
  src/components/svelte/sites/HandoutEditor.svelte
  src/docs/03-eula.md
  src/docs/80-release-notes.md
  src/stores/session/account.ts
Due: check, test:unit

fix: moved recent changes out of sidebar section
  package.json
  src/components/server/SiteApp/LatestChanges.astro
  src/components/server/SiteApp/LatestPagesSection.astro
  src/components/server/SiteApp/PageApp.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: site sidebar and recent changes can be hidden
  src/components/server/SiteApp/LatestPagesSection.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/docs/80-release-notes.md
  src/schemas/SiteSchema.ts
Due: check, test:unit

fix: refactored the handouts to a separate folder
  src/components/svelte/sites/handouts/HandoutEditor.svelte
  src/components/svelte/sites/handouts/HandoutFabs.svelte
  src/components/svelte/sites/handouts/HandoutList.svelte
  src/components/svelte/sites/handouts/HandoutsApp.svelte
  src/components/svelte/sites/handouts/HandoutsFabs.svelte
  src/pages/sites/[siteKey]/handouts/[id]/edit.astro
  src/pages/sites/[siteKey]/handouts/[id]/index.astro
  src/pages/sites/[siteKey]/handouts/index.astro
Due: none

fix: add reader ux in place
  src/components/server/SiteApp/HandoutApp.astro
  src/components/svelte/sites/handouts/HandoutMeta.svelte
  src/components/svelte/sites/handouts/HandoutsApp.svelte
  src/pages/sites/[siteKey]/handouts/[id]/index.astro
Due: none

feat: save handout readers
  src/components/svelte/sites/handouts/HandoutMeta.svelte
  src/stores/site/handouts.ts
Due: check, test:unit

feat: handout reader acl tool and visibility
  package.json
  src/components/svelte/sites/handouts/HandoutList.svelte
  src/components/svelte/sites/handouts/HandoutMeta.svelte
  src/locales/fi/site.ts
  src/stores/site/handouts.ts
Due: check, test:unit

fix: front page fabs to svelte
  src/components/client/FrontPage/FrontPageFabs.tsx
  src/components/svelte/frontpage/FrontpageFabs.svelte
  src/docs/80-release-notes.md
  src/pages/index.astro
Due: check

fix: site creation ux polish
  src/components/client/SiteApp/CreateSiteView.tsx
  src/components/svelte/sites/CreateSiteForm.svelte
  src/components/svelte/sites/SystemSelect.svelte
  src/docs/31-create-site.md
  src/locales/fi/actions.ts
  src/locales/fi/entries.ts
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/create/site.astro
  src/schemas/SiteSchema.ts
Due: check, test:unit

chore: release note updates
  src/docs/80-release-notes.md
Due: none

fix: add page polish
  src/components/svelte/sites/CreateSiteForm.svelte
  src/firebase/client/site/addPage.ts
  src/firebase/client/site/createSite.ts
Due: check, test:unit

fix: removed reduntant site schema helper
  src/schemas/SiteSchema.ts
  src/stores/SitesApp/index.ts
  test/schemas/Site.test.ts
Due: check, test:unit

fix: auto urls work too
  package.json
  src/components/svelte/sites/CreateSiteForm.svelte
  src/firebase/client/site/createSite.ts
  src/locales/fi/site.ts
Due: check, test:unit

fix: removed a debug div
  package.json
  src/components/svelte/sites/CreateSiteForm.svelte
Due: check

fix: site poster extends to whole app as expected
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/SiteApp/SitePoster.astro
  src/docs/80-release-notes.md
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/assets/index.astro
  src/pages/sites/[siteKey]/clocks.astro
  src/pages/sites/[siteKey]/handouts/[id]/index.astro
  src/pages/sites/[siteKey]/handouts/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/pages/sites/[siteKey]/toc.astro
Due: check

fix: removed a link to old store, and some deprecated code
  src/components/client/SitesApp/MigrateContentPanel.tsx
  src/components/client/SitesApp/SiteSettingsButton.tsx
  src/firebase/client/site/addPageRef.ts
  src/stores/SitesApp/pagesStore.ts
Due: check, test:unit

fix: site name edit field ux on svelte
  src/components/server/BaseHead/BaseHead.astro
  src/components/svelte/sites/settings/SettingsApp.svelte
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/pages/sites/[siteKey]/settings.astro
Due: none

fix: site meta ux on svelte
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/stores/site/index.ts
Due: check, test:unit

fix: site metadata moved to svelte side
  package.json
  src/components/client/SitesApp/SiteSettingsApp/SiteMetaDataSection.tsx
  src/components/svelte/sites/settings/SettingsApp.svelte
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/docs/80-release-notes.md
  src/locales/fi/site.ts
Due: check, test:unit
