Repository villetakanen/pelilauta-16: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  commands:
    lint:commit:
      run: npx commitlint --from HEAD~1 --to HEAD

fix: old image data is parsed
  package.json
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/eula/EulaDialog.svelte
  src/docs/80-release-notes.md
  src/firebase/server/discussion/fetchDiscussion.ts
  src/pages/api/threads/[threadKey].json.ts
  src/pages/threads/[threadKey]/index.astro
  src/utils/fixImageData.ts
Due: check, test:unit

fix: biome
  src/components/svelte/discussion/DiscussionSection.svelte
  src/firebase/server/discussion/fetchDiscussion.ts
  src/pages/api/threads/[threadKey].json.ts
  src/pages/threads/[threadKey]/index.astro
  src/utils/fixImageData.ts
Due: check, test:unit

fix: older discussions now have required keys
  package.json
  src/components/svelte/discussion/DiscussionSection.svelte
  src/docs/80-release-notes.md
Due: check

fix: session peer review fixes, logout no longer flashes eula
  package.json
  src/docs/80-release-notes.md
  src/firebase/client/site/createSite.ts
  src/firebase/client/site/deleteSite.ts
  src/pages/api/threads/[threadKey].json.ts
  src/stores/session/index.ts
  src/stores/session/subscriber.ts
  src/stores/userSites/index.ts
Due: check, test:unit

fix: store init polish
  package.json
  src/components/svelte/discussion/DiscussionSection.svelte
  src/docs/80-release-notes.md
  src/schemas/SubscriberSchema.ts
  src/stores/subscription/index.ts
Due: check, test:unit

fix: profiles cache loading state exposed
  package.json
  src/components/svelte/app/AvatarLink.svelte
  src/components/svelte/app/ProfileLink.svelte
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/docs/80-release-notes.md
  src/firebase/client/profile/getPofileByNick.ts
  src/stores/profiles/index.ts
  src/stores/profilesStore/index.ts
Due: check, test:unit

fix: deprecated stores, reoved stores from ssr
  package.json
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/server/profile/ProfileApp.astro
  src/components/server/profile/ProfileThreads.astro
  src/docs/80-release-notes.md
  src/stores/SocialApp/notificationsStore.tsx
  src/stores/SocialApp/reactionStore.tsx
  src/stores/ThreadsApp/deleteThread.ts
  src/stores/ThreadsApp/discussion.ts
  src/stores/ThreadsApp/index.ts
  src/stores/ThreadsApp/topics.ts
Due: check, test:unit

fix: account store polish and build improvements
  astro.config.mjs
  package.json
  src/docs/80-release-notes.md
  src/stores/metaStore/metaStore.ts
  src/stores/session/account.ts
  src/stores/session/index.ts
Due: check, test:unit

fix: biome
  astro.config.mjs
  package.json
  src/stores/session/account.ts
Due: check, test:unit

fix: eula dialog race condition and nickname binding
  package.json
  src/components/svelte/eula/EulaDialog.svelte
  src/components/svelte/eula/NickNameInput.svelte
  src/docs/80-release-notes.md
Due: check

fix: replies initialize correct subscribers for reactions
  package.json
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/discussion/ReplyDialog.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/addReply.ts
  src/stores/session/account.ts
Due: check, test:unit

fix: notifications logic moved to server side for replies
  .github/copilot-instructions.md
  src/docs/80-release-notes.md
  src/firebase/client/threads/addReply.ts
  src/pages/api/notifications/send.ts
  src/schemas/NotificationSchema.ts
  src/utils/server/auth/tokenToUid.ts
Due: check, test:unit

fix: removed depr imports
  src/firebase/client/threads/addReply.ts
Due: check, test:unit

fix: reply ux polish
  package.json
  src/components/svelte/discussion/ReplyArticle.svelte
  src/components/svelte/discussion/ReplyDialog.svelte
  src/firebase/client/threads/addReply.ts
  src/pages/api/notifications/send.ts
Due: check, test:unit

fix: reaction button to use server api, ux polish
  package.json
  src/components/server/FrontPage/ThreadCard.astro
  src/components/server/SiteApp/PageSidebar.astro
  src/components/server/ThreadsApp/ThreadInfoSection.astro
  src/components/svelte/app/ReactionButton.svelte
  src/components/svelte/inbox/NotificationItem.svelte
  src/docs/80-release-notes.md
Due: check

fix: public site list ux
  package.json
  src/components/server/SiteList/SiteListColumn.astro
  src/components/server/SiteList/SiteListItem.astro
  src/components/svelte/sites/SiteAdminActions.svelte
  src/docs/80-release-notes.md
Due: check

fix: experimental site list ux added
  package.json
  src/components/server/SiteList/SiteListColumn.astro
  src/components/server/SiteList/SiteListItem.astro
  src/docs/80-release-notes.md
Due: check

fix: created marked extension for wikilinks
  src/utils/server/addSiteToWikilinks.ts
  src/utils/shared/getMarked.ts
  test/util/getMarked.test.ts
Due: check, test:unit

fix: wikilinks now come from the renderer
  package.json
  src/docs/80-release-notes.md
  src/utils/server/wiki/renderWikiContent.ts
  src/utils/shared/getMarked.ts
  test/util/getMarked.test.ts
Due: check, test:unit

chore: copilot guidance updates
  .github/copilot-instructions.md
Due: none

feat: diff based page versions
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/page/PageArticleFooter.astro
  src/components/svelte/sites/history/PageHistoryApp.svelte
  src/components/svelte/sites/history/PageHistoryArticle.svelte
  src/components/svelte/sites/history/PageHistoryIndex.svelte
  src/docs/80-release-notes.md
  src/firebase/client/page/addPageRevision.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey]/diff.ts
Due: check, test:unit

chore: release notes update
  src/docs/80-release-notes.md
Due: none

chore: updated readme
  README.md
Due: none

fix: page history ux polish
  package.json
  pnpm-lock.yaml
  src/components/svelte/sites/history/PageHistoryArticle.svelte
  src/locales/fi/site.ts
  src/utils/contentHelpers.ts
Due: check, test:unit

fix: biome
  package.json
  src/components/svelte/sites/history/PageHistoryArticle.svelte
  src/utils/contentHelpers.ts
Due: check, test:unit

fix: restored service worker
  package.json
  public/service-worker.js
  src/docs/80-release-notes.md
Due: check, test:unit

fix: base head optimization
  src/components/server/BaseHead/BaseHead.astro
  src/docs/80-release-notes.md
Due: none

fix: service worker loading indicator
  package.json
  src/components/server/BaseHead/ServiceWorker.astro
Due: check

fix: small updates to vercel side loading
  src/components/server/BaseHead/ServiceWorker.astro
  vercel.json
Due: check

fix: biome
  vercel.json
Due: check

fix: vercel settings
  vercel.json
Due: check

fix: variable naming
  src/components/server/BaseHead/ServiceWorker.astro
Due: none

fix: service worker version updates
  public/service-worker.js
Due: check, test:unit

fix: biome
  public/service-worker.js
Due: check, test:unit

fix: offline warning added
  package.json
  src/docs/80-release-notes.md
  src/locales/fi/index.ts
  src/pages/offline.astro
Due: check, test:unit

fix: annoying vercel behavour overrides
  src/pages/offline.html.astro
Due: none

fix: handouts peer reviews
  src/components/svelte/sites/handouts/HandoutsApp.svelte
  src/pages/sites/[siteKey]/handouts/index.astro
Due: none

fix: handoutlist ux and no-follow for authed pages
  package.json
  src/components/server/BaseHead/BaseHead.astro
  src/components/svelte/sites/handouts/HandoutList.svelte
  src/components/svelte/sites/handouts/HandoutListItem.svelte
  src/docs/80-release-notes.md
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/pages/api/sites/[siteKey]/pages/[pageKey]/diff.ts
  src/pages/sites/[siteKey]/handouts/index.astro
  src/utils/server/wiki/renderWikiContent.ts
Due: check, test:unit

fix: improved authz for sidebar and handout pages
  src/components/svelte/app/WithAuth.svelte
  src/components/svelte/sites/OptionalAppLinks.svelte
  src/components/svelte/sites/handouts/HandoutsApp.svelte
Due: none

fix: better handling of thread images
  src/components/svelte/thread-editor/ThreadEditorForm.svelte
Due: none
